@using System.IO
@using System.Drawing;
@using KAWebHost.Data.Models
@using System.Web
@inherits ComponentBase
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment HostEnvironment


@if (ShowFileManager)
{
    <div class="modal" tabindex="-1" style="display:block" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title">Chọn file</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @onclick="() => { ShowFileManager = false; }"></button>
                </div>
                <div class="modal-body">
                    <div class="d-flex">
                        <RadzenButton Disabled="@(SelectedFile.FileName == null)"
                                  Text="Select"
                                  Click="SelectFile"
                                  ButtonStyle="ButtonStyle.Success"
                                  Style="margin-bottom: 20px" />


                        <RadzenButton Disabled="@(SelectedFile.FileName == null)"
                                  Text="Delete"
                                  Click="DeleteSelectedFile"
                                  ButtonStyle="ButtonStyle.Danger"
                                  Style="margin-left: 20px; height:30px" />
                        <RadzenUpload ChooseText="Upload Files" Multiple="true"
                                  Url=@($"/api/upload/multiple?CurrentDirectory={HttpUtility.UrlEncode(CurrentDirectory.ToLower().Replace(CurrentRoot.ToLower(), ""))}")
                                  Style="margin-left: 20px;"
                                  Progress="@((args) => OnProgress(args))" />
                    </div>
                    <div class="row">
                        <div class="col-md-3" style="margin-bottom: 16px">
                            <RadzenTree Change="@LogChange" Data="@Directories"
                                    Expand="@LoadDirectory"
                                    Style="width: 100%; height: 300px">
                                <RadzenTreeLevel Text="@GetTextForNode"
                                             Template="@FileOrFolderTemplate" />
                            </RadzenTree>
                        </div>
                        <div class="col-md-9" style="margin-bottom: 16px">
                            <RadzenDataList @ref="FileDataList" Data="@Files"
                                        AllowPaging="true" TItem="FileObject"
                                        WrapItems="true" PageSize="6">
                                <Template Context="file">
                                    <div style="@StyleForFile(file.FileName)" @onclick="@((args) => SelectImage(file))" class="d-flex flex-column align-items-center justify-content-end">
                                        <RadzenImage Path="@(file.FileName.Contains(".mp4") ? "./img/icon/icon_video.png" : file.FilePath)"
                                                 Style="width:100px;padding:10px;" />
                                        <span style="width:100%" class="disc1">@file.FileName</span>
                                    </div>
                                </Template>
                            </RadzenDataList>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@if (ShowPopup)
{
    <div class="modal" tabindex="-1" style="display:block" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Upload Status</h4>
                </div>
                <div align="center">
                    <RadzenProgressBar Value="@progress"
                                   Unit="@info"
                                   Visible="@(progress > 0)"
                                   Style="margin-bottom: 20px" />
                </div>
            </div>
        </div>
    </div>
}
@code {
    
}