@page "/bai-viet/{BlogSeoName}"
@inherits OwningComponentBase
<HeadContent>
    <PageTitle>@(model?.Title) - Kolin</PageTitle>
</HeadContent>
@if (model != null)
{
    <div class="max-w-[1240px] mx-auto">
        <div class="flex gap-3 items-center pt-12 text-2xl">
            <a href="/">
                <img src="./img/icon/homeIcon.svg" />
            </a>
            <a href="/">Trang chủ</a>/ <a href="/tin-tuc">Tin sự kiện</a> 
        </div>
        <div class="py-8">
            <div class="grid grid-cols-1 lg:grid-cols-12 gap-3 ">
                <div class="col-span-1 lg:col-span-9 text-gray-800 bg-white px-4 pt-6 pb-10 overflow-hidden rounded-md h-fit">
                    <h1 class="text-xl lg:text-2xl text-red-800 uppercase font-bold mb-3">@model.Title</h1>
                    <p class="italic">@model.ShortDescription</p>
                    @((MarkupString)model.Content)
                </div>
                <div class="col-span-1 lg:col-span-3 text-gray-900">
                    @if(offlineCourseViewModels.Count() > 0){
                        <div class="bg-white rounded-md overflow-x-hidden mb-10">
                            <div class="font-bold bg-gray-100 py-5 px-4 text-lg">Khóa học sắp diễn ra</div>
                            <div class="max-h-[500px] overflow-y-auto">
                                @foreach(var offcourse in offlineCourseViewModels){
                                    <div class="my-6 mx-3 px-3 border-l-4 border-red-800 text-base">
                                        <a href="@offcourse.DetailCourseLink" class="text-base lg:text-lg font-bold text-red-800 line-clamp-3">@offcourse.Name</a>
                                        <div class="flex gap-1 mt-3">
                                            <img src="./img/icon/timeIcon.svg" />
                                            <span class="line-clamp-1">Thời gian: @offcourse.StartDates[0].StartTime.Value.ToString("dd/MM/yyyy")</span>
                                        </div>
                                        <div class="flex gap-2 mt-3 line-clamp-1">
                                            <img src="./img/icon/addressIcon.svg"/>
                                            <span class="line-clamp-1">Địa điểm: @offcourse.StartDates[0].Place</span>
                                        </div>
                                    </div>
                                }
                            </div> 
                        </div>
                    }
                    <div class="">
                        <div class="font-bold bg-gray-200 p-4 text-gray-900 text-lg">Các bài viết liên quan</div>
                        <div class="">
                            @foreach(var news in relatedNewsModel){
                                <div class="bg-white col-span-2 row-span-2 rounded-lg border border-gray-400 mt-3">
                                    <img src="@news.ThumbNailImageLink"
                                        class="w-full h-[205px] object-cover rounded-lg" />
                                    <div class="p-2">
                                        <a href="@news.DetailBlogLink" class="uppercase text-base text-red-800 font-semibold line-clamp-4">
                                            @news.Title
                                        </a>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

