@page "/khoa-hoc-online/{CourseSeoName}"
@using KA.Infrastructure.Enums
@using KA.Infrastructure.Enums.Extension
@inherits OwningComponentBase
<HeadContent>
    <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <title>@model.Name - Kolin</title>
</HeadContent>
<!-- course free -->
<div class="course-free max-width mx-auto">
    <div class="d-flex justify-content-end">
        <div class="left-course">
            <div class="heading">Danh sách bài học</div>
            <div class="list-lesson">
                @for (var i = 0; i < model.Lessons.Count; i++)
                {
                    <div class="lesson-item">
                        <div class="title-lesson">@(model.Name + " Buổi " + (i + 1) + ":")</div>
                        <div class="name-lesson">
                            @model.Lessons[i].Name
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="right-course">
            <div class="name-course text-center secondary-color">
                @model.Name
            </div>
            <div class="video">
                <video style="width:100%" contextmenu="" class="web-video" id="main-video"
                       controls controlsList="nodownload">
                    <source type="video/mp4" src="@currentVideoLink" />
                </video>

            </div>
            <div class="status">
                <div class="d-flex justify-content-around">
                    <div class="box text-center">
                        <div>Tiến độ học</div>
                        @if(userLessonVms.Count >0){
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped" role="progressbar" style="@CaculateStudyProgress()" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        }
                        
                    </div>
                    <div class="box text-center d-flex flex-column justify-content-between">
                        <div>Giá khóa học</div>
                        @if (model.DiscountPrice == 0)
                        {
                            <div class="secondary-color">Miễn phí</div>
                        }
                        else
                        {
                            <div class="secondary-color">@model.DiscountPrice.ToVietNameseCurrency()</div>
                        }

                    </div>
                    <div class="box text-center">
                        <div>@state.DisplayName()</div>
                        @if (state == OnlineCourseState.UNAUTHEN)
                        {
                            <a class="btn-login" href="/dang-nhap">Đăng nhập</a>
                        }
                        else if (state == OnlineCourseState.NOT_PURCHASED)
                        {
                            <button class="btn-login" @onclick="()=>AddToCart(model.CourseId)">Mua mới</button>
                        }
                        else if (state == OnlineCourseState.EXPIRED)
                        {
                            <button class="btn-login" @onclick="()=>AddToCart(model.CourseId)">Gia hạn</button>
                        }
                        else if (state == OnlineCourseState.STUDYING)
                        {
                            <button class="btn-login">Học bài tiếp</button>
                        }
                        else if (state == OnlineCourseState.DONE)
                        {
                            <button class="btn-login">Học lại</button>
                        }
                    </div>
                </div>
            </div>
            @if (userLessonVms.Count > 0)
            {
                <div class="list-content">
                    @for (var i = 0; i < userLessonVms.Count; i++)
                    {
                        var index = i;
                        <div @onclick="()=>StudyLesson(userLessonVms[index],index)">
                            @* @if (userLessonVms[index].UserLessonStatus == UserLessonStatus.BLOCK)
                            {
                                <img class="lesson-status-icon" src="./img/icon/lock.png" />
                            }
                            else
                            {
                                
                            } *@
                            <img class="lesson-status-icon" src="./img/icon/check.png" />
                            @userLessonVms[index].LessonName
                        </div>
                    }
                </div>
            }

        </div>
    </div>
</div>