@page "/"
@inherits OwningComponentBase
@inject IJSRuntime jsr;

<HeaderContent>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
          integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css"
          integrity="sha512-OTcub78R3msOCtY3Tc6FzeDJ8N9qvQn1Ph49ou13xgA9VsH9+LRxoFU6EqLhW4+PKRfU+/HReXmSZXHEkpYoOA=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
</HeaderContent>

<div class="home-page">
    <section class="home-banner relative">
        <img class="w-full block" src="./img/home-banner.png" alt="" />
        <div class="banner-container absolute w-full">
            <div class="d-flex mx-auto max-width">
                <div class="banner-img relative">
                    <div class="text line-height-normal absolute">KHÓA HỌC</div>
                    <img class="w-full block" src="./img/banner-decor.png" alt="" />
                </div>
                <div class="banner-content place-center grid">
                    <div>Khóa tạo dáng, chụp hình bằng smartphone</div>
                </div>
            </div>
        </div>
    </section>
    @if (offlineCourseViewModels != null && offlineCourseViewModels.Count > 0)
    {
        <section class="coming-soon relative">
            <img src="./img/coming-soon-decor.png"
             alt=""
             class="absolute coming-soon-decor" />
            <div class="max-width mx-auto">
                <div class="title text-center line-height-normal">
                    <p class="primary-color inline-block">KHÓA HỌC</p>
                    <p class="secondary-color inline-block">SẮP KHAI GIẢNG</p>
                </div>

                <div class="coming-soon_course">
                    <div class="coming-content">
                        @foreach (var course in offlineCourseViewModels)
                        {
                            <div class="course">
                                <a href="@course.DetailCourseLink" class="name line-height-normal primary-color text-uppercase">
                                    @course.Name
                                </a>
                                @foreach (var startDate in course.StartDates)
                                {
                                    <div class="course-item d-flex justify-content-between mb-3">
                                        <p>@startDate.StartTime.Value.ToString("dd/MM/yyyy")</p>
                                        <p>@startDate.Place</p>
                                        <a href="@course.DetailCourseLink">Xem chi tiết</a>
                                    </div>
                                }
                            </div>
                        }
                    </div>
                </div>
            </div>
        </section>
    }

    <section class="home-about relative">
        <img src="./img/Frame.svg" alt="" class="home-about-decor1" />
        <div class="max-width mx-auto">
            <div class="title text-center primary-color">VỀ CHÚNG TÔI</div>
            <div class="home-about_wrapper">
                <iframe width="420"
                        height="345"
                        src="https://www.youtube.com/embed/UjIn0xT9_p8">
                </iframe>
                <div class="detail secondary-color">Xem chi tiết >></div>
            </div>
        </div>
    </section>

    @if (onlineCourse != null)
    {
        <section class="course-online">
            <div class="max-width mx-auto">
                <div class="title text-center">
                    <p class="primary-color inline-block">KHÓA HỌC</p>
                    <p class="secondary-color inline-block">ONLINE</p>
                </div>
                <div class="content">
                    <div class="row mt-4">
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="video">
                                <iframe width="420"
                                    height="345"
                                    sandbox
                                    src="@onlineCourse.IntroVideoLink">
                                </iframe>

                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="text">
                                <p class="primary-color name-course">@onlineCourse.Name</p>

                                <p> @(onlineCourse.ShortDescription)</p>
                                <button class="btn-register inline-block secondary-color mt-3" @onclick="()=>GoToDetailCoursePage(onlineCourse.DetailLink)">
                                    Đăng ký học online
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    }

    @if (offlineCourses != null)
    {
        <section class="course-offline relative">
            <img src="./img/offline_decor.png"
             alt=""
             class="course-offline-decor absolute" />
            <div class="max-width mx-auto">
                <div class="title text-center">
                    <p class="primary-color inline-block">KHÓA HỌC</p>
                    <p class="secondary-color inline-block">OFFLINE</p>
                </div>

                <div class="content">
                    <div class="row">
                        @foreach (var offCourse in offlineCourses)
                        {
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="course">
                                    <div class="video">
                                        <iframe width="420"
                                        height="345"
                                        src="@offCourse.IntroVideoLink">
                                        </iframe>
                                    </div>
                                    <div class="text d-flex justify-content-between align-items-end">
                                        <div style="flex: 1">
                                            <p class="heading">KHÓA HỌC</p>
                                            <p class="name primary-color">
                                                @offCourse.Name
                                            </p>
                                        </div>
                                        <div style="flex: 1" class="d-flex justify-content-end">
                                            <button class="secondary-color" @onclick="()=>GoToDetailCoursePage(offCourse.DetailCourseLink)">Đăng ký >></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </section>
    }
    <section class="feedback">
        <div class="max-width mx-auto">
            <div class="title text-center">
                <p class="primary-color inline-block">FEEDBACK</p>
                <p class="secondary-color inline-block">HỌC VIÊN</p>
            </div>
            <div class="course">
                <div class="name-course">
                    <p class="primary-color inline-block">KHÓA</p>
                    <p class="secondary-color inline-block">POSE</p>
                </div>
                <div class="row">
                    <div class="col col-lg-6 col-md-6 col-12 mb-4">
                        <p class="name-student">HỌC VIÊN LAN ANH</p>
                        <div class="video">
                            <iframe width="420"
                                    height="345"
                                    src="https://www.youtube.com/embed/UjIn0xT9_p8">
                            </iframe>
                        </div>
                    </div>
                    <div class="col col-lg-6 col-md-6 col-12 mb-4">
                        <p class="name-student">HỌC VIÊN ĐOÀN THỦY HOÀN</p>
                        <div class="video">
                            <iframe width="420"
                                    height="345"
                                    src="https://www.youtube.com/embed/UjIn0xT9_p8">
                            </iframe>
                        </div>
                    </div>
                    <p class="d-flex justify-content-end">
                        <button class="see-more secondary-color">Xem thêm</button>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="students-kolin">
        <div class="max-width mx-auto">
            <div class="title text-center">
                <p class="primary-color inline-block">FEEDBACK</p>
                <p class="secondary-color inline-block">HỌC VIÊN</p>
            </div>

            <div class="container">
                <div class="owl-carousel owl-theme owl-carousel">
                    <div class="item">
                        <div class="student-info d-flex">
                            <div class="img">
                                <img src="./img/student-kolin1.png" alt="" />
                            </div>
                            <div class="info">
                                <div class="name primary-color">Học viên Bảo Ngọc</div>
                                <p>CEO bảo Ngọc Aerobic</p>
                                <p>Khóa học: Personal Brand Pro</p>
                                <p>Định vị hình tuowngjL Giảng viên Aerobic</p>
                                <p>Truyền thông</p>
                                <ul>
                                    <li>Facebook profile: 40K theo dõi</li>
                                    <li>Fanpage: 1.378.353 theo dõi</li>
                                    <li>Tiktok: 340K theo dõi</li>
                                    <li>Youtube: 59K đăng ký</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="student-info d-flex">
                            <div class="img">
                                <img src="./img/student-kolin2.png" alt="" />
                            </div>
                            <div class="info">
                                <div class="name primary-color">Học viên Kiều Ly Phạm</div>
                                <p>Founder JOYUS Premium</p>
                                <p>Khóa học: Personal Brand Pro</p>
                                <p>Định vị hình tuowngjL Giảng viên Aerobic</p>
                                <p>Truyền thông</p>
                                <ul>
                                    <li>Facebook profile: 40K theo dõi</li>
                                    <li>Fanpage: 1.378.353 theo dõi</li>
                                    <li>Tiktok: 340K theo dõi</li>
                                    <li>Youtube: 59K đăng ký</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="student-info d-flex">
                            <div class="img">
                                <img src="./img/student-kolin1.png" alt="" />
                            </div>
                            <div class="info">
                                <div class="name primary-color">Học viên Bảo Ngọc</div>
                                <p>CEO bảo Ngọc Aerobic</p>
                                <p>Khóa học: Personal Brand Pro</p>
                                <p>Định vị hình tuowngjL Giảng viên Aerobic</p>
                                <p>Truyền thông</p>
                                <ul>
                                    <li>Facebook profile: 40K theo dõi</li>
                                    <li>Fanpage: 1.378.353 theo dõi</li>
                                    <li>Tiktok: 340K theo dõi</li>
                                    <li>Youtube: 59K đăng ký</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="student-info d-flex">
                            <div class="img">
                                <img src="./img/student-kolin2.png" alt="" />
                            </div>
                            <div class="info">
                                <div class="name primary-color">Học viên Kiều Ly Phạm</div>
                                <p>Founder JOYUS Premium</p>
                                <p>Khóa học: Personal Brand Pro</p>
                                <p>Định vị hình tuowngjL Giảng viên Aerobic</p>
                                <p>Truyền thông</p>
                                <ul>
                                    <li>Facebook profile: 40K theo dõi</li>
                                    <li>Fanpage: 1.378.353 theo dõi</li>
                                    <li>Tiktok: 340K theo dõi</li>
                                    <li>Youtube: 59K đăng ký</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="knowledge relative">
        <img src="./img/knowledge-decor.png"
             alt=""
             class="decor-left absolute" />
        <img src="./img/knowledge-decor.png"
             alt=""
             class="decor-right absolute" />
        <div class="title text-center secondary-color">KIẾN THỨC</div>
        <div class="max-width mx-auto">
            <div class="content">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-6">
                        <div class="content-wrapper d-flex">
                            <div class="img">
                                <img src="./img/knowledge.png" alt="" />
                            </div>
                            <div class="text d-flex flex-column justify-content-between">
                                <div>
                                    <p class="heading primary-color">
                                        Làm thế nào để tạo sự khác biệt cho bản thân từ con số 0
                                    </p>
                                    <p class="disc">
                                        Chắc hẳn, chẳng ai muốn bản thân mình trở lên tầm thường
                                        so với người khác...
                                    </p>
                                </div>
                                <p class="relative d-flex justify-content-end btn-details">
                                    <a class="" href="">
                                        <img src="./img/btn.png" alt="" />
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-6">
                        <div class="content-wrapper d-flex">
                            <div class="img">
                                <img src="./img/knowledge.png" alt="" />
                            </div>
                            <div class="text d-flex flex-column justify-content-between">
                                <div>
                                    <p class="heading primary-color">
                                        Làm thế nào để tạo sự khác biệt cho bản thân từ con số 0
                                    </p>
                                    <p class="disc">
                                        Chắc hẳn, chẳng ai muốn bản thân mình trở lên tầm thường
                                        so với người khác...
                                    </p>
                                </div>
                                <p class="relative d-flex justify-content-end btn-details">
                                    <a class="" href="">
                                        <img src="./img/btn.png" alt="" />
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-6 col-lg-6">
                        <div class="content-wrapper d-flex">
                            <div class="img">
                                <img src="./img/knowledge.png" alt="" />
                            </div>
                            <div class="text d-flex flex-column justify-content-between">
                                <div>
                                    <p class="heading primary-color">
                                        Làm thế nào để tạo sự khác biệt cho bản thân từ con số 0
                                    </p>
                                    <p class="disc">
                                        Chắc hẳn, chẳng ai muốn bản thân mình trở lên tầm thường
                                        so với người khác...
                                    </p>
                                </div>
                                <p class="relative d-flex justify-content-end btn-details">
                                    <a class="" href="">
                                        <img src="./img/btn.png" alt="" />
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-6">
                        <div class="content-wrapper d-flex">
                            <div class="img">
                                <img src="./img/knowledge.png" alt="" />
                            </div>
                            <div class="text d-flex flex-column justify-content-between">
                                <div>
                                    <p class="heading primary-color">
                                        Làm thế nào để tạo sự khác biệt cho bản thân từ con số 0
                                    </p>
                                    <p class="disc">
                                        Chắc hẳn, chẳng ai muốn bản thân mình trở lên tầm thường
                                        so với người khác...
                                    </p>
                                </div>
                                <p class="relative d-flex justify-content-end btn-details">
                                    <a class="" href="">
                                        <img src="./img/btn.png" alt="" />
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="d-flex justify-content-end">
                        <button class="see-more secondary-color">Xem thêm</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>