@page "/"
@inherits OwningComponentBase
@inject IJSRuntime jsr;

<HeaderContent>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
          integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css"
          integrity="sha512-OTcub78R3msOCtY3Tc6FzeDJ8N9qvQn1Ph49ou13xgA9VsH9+LRxoFU6EqLhW4+PKRfU+/HReXmSZXHEkpYoOA=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <PageTitle>Trang chủ - Kolin</PageTitle>
</HeaderContent>

<div class="home-page">
    <section class="home-banner relative">
       @* <div class="banner-container absolute w-full">
            <div class="d-flex mx-auto max-width">
                <div class="banner-img relative">
                    <div class="text line-height-normal absolute">KHÓA HỌC</div>
                    <img class="w-full block" src="./img/banner-decor.png" alt="" />
                </div>
                <div class="banner-content place-center grid">
                    <div>Khóa tạo dáng, chụp hình bằng smartphone</div>
                </div>
            </div>
        </div>*@
        <section class="home-banner">
            <div class="owl-carousel owl-theme owl-carousel2">
                <div class="item">
                    <img class="w-full" src="./img/pose-banner.jpg" alt="" />
                </div>
                <div class="item">
                    <img class="w-full" src="./img/personal-brand-banner.jpg" alt="" />
                </div>
                <div class="item">
                    <img class="w-full" src="./img/livestream-master-banner.jpg" alt="" />
                </div>
            </div>
        </section>
    </section>
    @if (offlineCourseViewModels != null && offlineCourseViewModels.Count > 0)
    {
        <section class="coming-soon relative">
            <img src="./img/coming-soon-decor.png"
             alt=""
             class="absolute coming-soon-decor" />
            <div class="max-width mx-auto">
                <div class="title text-center line-height-normal">
                    <p class="primary-color inline-block">KHÓA HỌC</p>
                    <p class="secondary-color inline-block">SẮP KHAI GIẢNG</p>
                </div>

                <div class="coming-soon_course">
                    <div class="coming-content">
                        @foreach (var course in offlineCourseViewModels)
                        {
                            <div class="course">
                                <a href="@course.DetailCourseLink" class="name line-height-normal primary-color text-uppercase">
                                    @course.Name
                                </a>
                                @foreach (var startDate in course.StartDates)
                                {
                                    <div class="course-item d-flex justify-content-between mb-3">
                                        <p>@startDate.StartTime.Value.ToString("dd/MM/yyyy")</p>
                                        <p>@startDate.Place</p>
                                        <a href="@course.DetailCourseLink">Xem chi tiết</a>
                                    </div>
                                }
                            </div>
                        }
                    </div>
                </div>
            </div>
        </section>
    }

    <section class="home-about relative">
        <img src="./img/Frame.svg" alt="" class="home-about-decor1" />
        <div class="max-width mx-auto">
            <div class="title text-center primary-color">VỀ CHÚNG TÔI</div>
            <div class="home-about_wrapper">
                <video controls preload="auto" 
                        class="w-100"
                       poster="/img/introvideo_thumnail.png">
                    <source id='mp4' src="./uploads/videos/kolin_home_intro.mp4" type='video/mp4' />
                </video>
                <div class="detail secondary-color">Xem chi tiết >></div>
            </div>
        </div>
    </section>

    @if (onlineCourse != null)
    {
        <section class="course-online">
            <div class="max-width mx-auto">
                <div class="title text-center">
                    <p class="primary-color inline-block">KHÓA HỌC</p>
                    <p class="secondary-color inline-block">ONLINE</p>
                </div>
                <div class="content">
                    <div class="row mt-4">
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="video">
                                <video class="w-100"
                                    controls
                                    style="height:400px"
                                    sandbox>
                                    <source src="@onlineCourse.IntroVideoLink" type='video/mp4' />
                                </video>

                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="text">
                                <p class="primary-color name-course">@onlineCourse.Name</p>

                                <p> @(onlineCourse.ShortDescription)</p>
                                <button class="btn-register inline-block secondary-color mt-3" @onclick="()=>GoToDetailOnlineCourse(onlineCourse.DetailLink)">
                                    Đăng ký học online
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    }

    @if (offlineCourses != null && offlineCourses.Count > 0)
    {
        <section class="course-offline relative">
            <img src="./img/offline_decor.png"
             alt=""
             class="course-offline-decor absolute" />
            <div class="max-width mx-auto">
                <div class="title text-center">
                    <p class="primary-color inline-block">KHÓA HỌC</p>
                    <p class="secondary-color inline-block">OFFLINE</p>
                </div>

                <div class="content">
                    <div class="row">
                        @foreach (var offCourse in offlineCourses)
                        {
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="course">
                                    <div class="video">
                                        <iframe width="420"
                                        height="345"
                                        src="@offCourse.IntroVideoLink">
                                        </iframe>
                                    </div>
                                    <div class="text d-flex justify-content-between align-items-end">
                                        <div style="flex: 1">
                                            <p class="heading">KHÓA HỌC</p>
                                            <NavLink class="name primary-color" href="@offCourse.DetailCourseLink">
                                                @offCourse.Name
                                            </NavLink>
                                        </div>
                                        <div style="flex: 1" class="d-flex justify-content-end">
                                            <button class="secondary-color" @onclick="()=>GoToRegisterPage(offCourse.Id)">Đăng ký >></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </section>
    }
    <section class="feedback">
        <div class="max-width mx-auto">
            <div class="title text-center">
                <p class="primary-color inline-block">CASE STUDY</p>
                <p class="secondary-color inline-block">HỌC VIÊN THÀNH CÔNG</p>
            </div>
            <div class="course">
               @* <div class="name-course">
                    <p class="primary-color inline-block">KHÓA</p>
                    <p class="secondary-color inline-block">POSE</p>
                </div>*@
                <div class="row">
                    <div class="col col-lg-6 col-md-6 col-12 mb-4">
                        <p class="name-student">HỌC VIÊN LAN ANH</p>
                        <div class="video">
                            <iframe width="420"
                                    height="345"
                                    src="https://www.youtube.com/embed/UjIn0xT9_p8">
                            </iframe>
                        </div>
                    </div>
                    <div class="col col-lg-6 col-md-6 col-12 mb-4">
                        <p class="name-student">HỌC VIÊN TRANG NHUNG - CEO</p>
                        <div class="video">
                            <iframe width="420"
                                    height="345"
                                    src="https://www.youtube.com/embed/t9rJ_xGU2hU">
                            </iframe>
                            </div>
                    </div>
                    
                </div>
               @* <div class="name-course">
                    <p class="primary-color inline-block">KHÓA</p>
                    <p class="secondary-color inline-block">POSE</p>
                </div>*@
                <div class="row">
                    <div class="col col-lg-6 col-md-6 col-12 mb-4">
                        <p class="name-student">HỌC VIÊN MOON NHẬT</p>
                        <div class="video">
                            <iframe width="420"
                                    height="345"
                                    src="https://www.youtube.com/embed/vG6O1X4z1Ns">
                            </iframe>
                        </div>
                    </div>
                    <div class="col col-lg-6 col-md-6 col-12 mb-4">
                        <p class="name-student">HỌC VIÊN HOÀNG DIỄM</p>
                        <div class="video">
                            <iframe width="420"
                                    height="345"
                                    src="https://www.youtube.com/embed/OGLpUBgFHXI">
                            </iframe>
                        </div>
                    </div>
                </div>
                <p class="d-flex justify-content-end">
                    <button class="see-more secondary-color">Xem thêm</button>
                </p>
            </div>
        </div>
    </section>

    <section class="students-kolin">
        <div class="max-width mx-auto">
            <div class="title text-center">
                <p class="primary-color inline-block">CASE STUDY</p>
                <p class="secondary-color inline-block">HỌC VIÊN THÀNH CÔNG</p>
            </div>
            <div class="container">
                <div class="owl-carousel owl-theme owl-carousel1">
                    <div class="item">
                        <div class="student-info d-flex">
                            <div class="img">
                                <img src="./img/student-kolin1.png" alt="" />
                            </div>
                            <div class="info">
                                <div class="name primary-color">Học viên Bảo Ngọc</div>
                                <p>CEO bảo Ngọc Aerobic</p>
                                <p>Khóa học: Personal Brand Pro</p>
                                <p>Định vị hình tượng Giảng viên Aerobic</p>
                                <p>Truyền thông</p>
                                <ul>
                                    <li>Facebook profile: 40K theo dõi</li>
                                    <li>Fanpage: 1.378.353 theo dõi</li>
                                    <li>Tiktok: 340K theo dõi</li>
                                    <li>Youtube: 59K đăng ký</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="student-info d-flex">
                            <div class="img">
                                <img src="./img/student-kolin2.png" alt="" />
                            </div>
                            <div class="info">
                                <div class="name primary-color">Học viên Kiều Ly Phạm</div>
                                <p>Founder JOYUS Premium</p>
                                <p>Khóa học: Personal Brand Pro</p>
                                <p>Định vị hình tượng Giảng viên Aerobic</p>
                                <p>Truyền thông</p>
                                <ul>
                                    <li>Facebook profile: 40K theo dõi</li>
                                    <li>Fanpage: 1.378.353 theo dõi</li>
                                    <li>Tiktok: 340K theo dõi</li>
                                    <li>Youtube: 59K đăng ký</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="student-info d-flex">
                            <div class="img">
                                <img src="./img/profile/profile1.png" alt="" />
                            </div>
                            <div class="info">
                                <div class="name primary-color">Học viên Quỳnh Nhi(DJ YUU)</div>
                                <p>DJ Yuu Quỳnh Nhi - DJ of Asia - Asia Artist</p>
                                <p>Khóa học: Thần thái</p>
                                <p>Model - Influencer - Actress</p>
                                <ul>
                                    <li>Facebook: 370.520 fl</li>
                                    <li>Insta: 162k</li>
                                    <li>Fanpage : 974K fl </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                     <div class="item">
                        <div class="student-info d-flex">
                            <div class="img">
                                <img src="./img/profile/profile2.jpg" alt="" />
                            </div>
                            <div class="info">
                                <div class="name primary-color">DƯƠNG QUỲNH TRANG (Vanessa Duong)</div>
                                <p>CEO và Founder của 9 CARAT Beauty Spa</p>
                                <p>Khóa học: Personal Brand Pro</p>
                                <ul>
                                    <li>Facebook: 240.209 fl</li>
                                    <li>Fanpage: 56.000 fl</li>
                                    <li>Youtube: 108N</li>
                                    <li>Tiktok : 54,7K </li>
                                    <li>Insta : 17,7K </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                      <div class="item">
                        <div class="student-info d-flex">
                            <div class="img">
                                <img src="./img/profile/12.png" alt="" />
                            </div>
                            <div class="info">
                                <div class="name primary-color">Học viên ĐÀO THÙY DƯƠNG</div>
                                <p>Boss tại KIERA Cosmetic - Diamond CEO Đào Thuỳ Dương</p>
                                <p>Khóa học: Personal Brand Pro</p>
                                <p>Truyền thông</p>
                                <ul>
                                    <li>Facebook profile: 116K theo dõi</li>
                                    <li>Fanpage: 1.378.353 theo dõi</li>
                                    <li>Tiktok: 423K theo dõi</li>
                                    <li>Youtube: 59K đăng ký</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                                        <div class="item">
                        <div class="student-info d-flex">
                            <div class="img">
                                <img src="./img/profile/13.png" alt="" />
                            </div>
                            <div class="info">
                                <div class="name primary-color">Học viên PHƯƠNG KIRSCHE</div>
                                <p>Khóa học: Personal brand pro</p>
                                <p>Truyền thông</p>

                                <ul>
                                    <li>Facebook: 9,5k theo dõi</li>
                                    <li>Tiktok: 1987 theo dõi</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                                        <div class="item">
                        <div class="student-info d-flex">
                            <div class="img">
                                <img src="./img/profile/14.png" alt="" />
                            </div>
                            <div class="info">
                                <div class="name primary-color">Học viên NGÔ HUYỀN TRANG</div>
                                <p>Khóa học: Personal Brand Pro</p>
                                <p>Truyền thông</p>
                                <ul>
                                    <li>Facebook profile: 218K theo dõi</li>
                                    <li>Tiktok: 185,7K theo dõi</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                                        <div class="item">
                        <div class="student-info d-flex">
                            <div class="img">
                                <img src="./img/profile/15.png" alt="" />
                            </div>
                            <div class="info">
                                <div class="name primary-color">Học viên MY THẢO HỒ</div>
                                <p>Founder tại Mina Luxury Fur</p>
                                <p>Khóa học: Personal Brand Pro</p>
                                <p>Truyền thông</p>
                                <ul>
                                    <li>Facebook profile: 23K theo dõi</li>
                                    <li>Fanpage: 120,2k theo dõi</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                                        <div class="item">
                        <div class="student-info d-flex">
                            <div class="img">
                                <img src="./img/profile/16.png" alt="" />
                            </div>
                            <div class="info">
                                <div class="name primary-color">Học viên SỬ NGỌC LY</div>
                                <p>Founder BAMIAN STORE - SNLY BEAUTY</p>
                                <p>CO-FOUNDER tại YellowHolic Dessert & Coffee</p>
                                <p>Founder tại Radiant Hollywood Secret Vietnam</p>
                                <p>CEO tại Dermaesthetics Beverly Hills Hà Nội</p>
                                <p>Khóa học: Influencer Coaching</p>
                                <p>Truyền thông</p>
                                <ul>
                                    <li>Facebook: 143.520 theo dõi</li>
                                    <li>Fanpage : 974K theo dõi </li>
                                    <li>Tiktok: 82,734 theo dõi</li>

                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="student-info d-flex">
                            <div class="img">
                                <img src="./img/profile/3.png" alt="" />
                            </div>
                            <div class="info">
                                <div class="name primary-color">NHƯ QUỲNH NGUYỄN</div>
                                <p>CEO  tại L.II.N Clothing</p>
                                <p>Khóa học: Personal Brand Pro</p>
                                <ul>
                                    <li>Facebook: 42.999 fl</li>
                                    <li>Fanpage: 1.400 fl</li>
                                    <li>Tiktok : 320,300 fl </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="student-info d-flex">
                            <div class="img">
                                <img src="./img/profile/11.png" alt="" />
                            </div>
                            <div class="info">
                                <div class="name primary-color">HÀ PHƯƠNG TRINH</div>
                                <p>Giám đốc Cty CP Tokikin</p>
                                <p>Khóa học: Personal Brand Pro</p>
                                <ul>
                                    <li>Facebook: 14.899 fl</li>
                                    <li>Insta: 4.500 fl</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="student-info d-flex">
                            <div class="img">
                                <img src="./img/profile/5.png" alt="" />
                            </div>
                            <div class="info">
                                <div class="name primary-color">Học viên Mai Phạm</div>
                                <p>Định vị hình tượng: KOC</p>
                                <p>Khóa học: Change2shine, Tiktok Idol</p>
                                <p>Truyền thông</p>
                                <ul>
                                    <li>Facebook profile: 7748 theo dõi</li>
                                    <li>Tiktok: 704,2K theo dõi</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                                        <div class="item">
                        <div class="student-info d-flex">
                            <div class="img">
                                <img src="./img/profile/4.png" alt="" />
                            </div>
                            <div class="info">
                                <div class="name primary-color">Học viên HOA PHẠM</div>
                                <p>Định vị hình tượng: KOC</p>
                                <p>Khóa học: Change2shine, Tiktok Idol</p>
                                <p>Truyền thông</p>
                                <ul>
                                    <li>Facebook profile: 46,4k theo dõi</li>
                                    <li>Tiktok: 820,2K theo dõi</li>
                                    <li>Youtube: 14,7K đăng ký</li>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="student-info d-flex">
                            <div class="img">
                                <img src="./img/profile/6.png" alt="" />
                            </div>
                            <div class="info">
                                <div class="name primary-color">Học viên Tuấn Nguyễn</div>
                                <p>Khóa học: Personal Brand Pro</p>
                                <ul>
                                    <li>Facebook profile: 156k theo dõi</li>
                                    <li>Facebook fanpage: 125,7k theo dõi</li>
                                    <li>Tiktok: 384,7 theo dõi</li>
                                    <li>Instagram: 25,9K đăng ký</li>

                                </ul>
                            </div>
                        </div>
                    </div>
                                        <div class="item">
                        <div class="student-info d-flex">
                            <div class="img">
                                <img src="./img/profile/7.png" alt="" />
                            </div>
                            <div class="info">
                                <div class="name primary-color">DƯƠNG ÁNH NGỌC</div>
                                <p>Founder tại Gemmy Luxury Diamond</p>
                                <p>Founder tại Ngọc Gemmy Beauty House</p>
                                <p>Founder tại ChiFan - Nướng Trung Hoa</p>
                                <p>Founder tại Ngọc Gemmy Makeup Store</p>
                                <p>Business Owner/Training Director tại ViVi Academy</p>
                                <p>Khóa học: Personal Brand Pro</p>
                                <p>Truyền thông</p>

                                <ul>
                                     <li>Facebook profile: 71k theo dõi</li>
                                    <li>Facebook fanpage: 9,7k theo dõi</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                                        <div class="item">
                        <div class="student-info d-flex">
                            <div class="img">
                                <img src="./img/profile/8.png" alt="" />
                            </div>
                            <div class="info">
                                <div class="name primary-color">Học viên Nguyễn Thu Trà</div>
                                <p>CEO tại EMBER BROWN</p>
                                <p>Founder/Manager tại VyVy Giftshop</p>
                                <p>Khóa học: Personal Brand Pro</p>
                                <p>Truyền thông</p>
                                <ul>
                                    <li>Facebook profile: 16K theo dõi</li>
                                    <li>Fanpage: 67,8k theo dõi</li>
                                    <li>Tiktok: 83,4K theo dõi</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                                        <div class="item">
                        <div class="student-info d-flex">
                            <div class="img">
                                <img src="./img/profile/9.png" alt="" />
                            </div>
                            <div class="info">
                                <div class="name primary-color">Học viên VŨ THỊ QUẾ MINH</div>
                                <p>Creative/Art Director tại M•Styling</p>
                                <p>Thành Viên Hội Đồng Cấp Cao tại MOI Cosmetics Viet Nam</p>
                                <p>Khóa học: Personal Brand Pro</p>
                                <p>Truyền thông</p>
                                <ul>
                                    <li>Facebook profile: 17K theo dõi</li>
                                    <li>Insta: 3,1K theo dõi</li>
                                    <li>Youtube: 1,5K đăng ký</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                                        <div class="item">
                        <div class="student-info d-flex">
                            <div class="img">
                                <img src="./img/profile/10.png" alt="" />
                            </div>
                            <div class="info">
                                <div class="name primary-color">NGUYỄN CÁT TIÊN MINH</div>
                                <p>Founder tại LanBali Beauty Center</p>
                                <p>CEO & Founder tại Luci - Mỹ phẩm thuần chay</p>
                                <p>CEO & Founder tại Luci Group</p>
                                <p>Khóa học: Personal Brand Pro</p>
                                <p>Truyền thông</p>
                                <ul>
                                    <li>Facebook profile: 33K theo dõi</li>
                                    <li>Luci Group: 23,3k theo dõi</li>
                                    <li>Luci mỹ phẩm thuần chay: 35k theo dõi</li>
                                </ul>
                            </div>
                        </div>
                    </div>












                </div>
            </div>
        </div>
    </section>
    @if (blogViewModels?.Count > 0)
    {
        <section class="knowledge relative">
            <img src="./img/knowledge-decor.png"
             alt=""
             class="decor-left absolute" />
            <img src="./img/knowledge-decor.png"
             alt=""
             class="decor-right absolute" />
            <div class="title text-center secondary-color">KIẾN THỨC</div>
            <div class="max-width mx-auto">
                <div class="content">
                    <div class="row">
                        @foreach (var blog in blogViewModels)
                        {
                            <div class="col-12 col-md-6 col-lg-6">
                                <div class="content-wrapper d-flex">
                                    <div class="img">
                                        <img src="@blog.ThumbNailImageLink" alt="@blog.Title" />
                                    </div>
                                    <div class="text d-flex flex-column justify-content-between">
                                        <div>   
                                            <NavLink href="@blog.DetailBlogLink">
                                                <p class="heading primary-color">
                                                @blog.Title
                                            </p>
                                            </NavLink>
                                            
                                            <p class="disc">
                                                @blog.ShortDescription
                                            </p>
                                        </div>
                                        <p class="relative d-flex justify-content-end btn-details">
                                            <NavLink class="" href="@blog.DetailBlogLink">
                                                <img src="./img/btn.png" alt="" />
                                            </NavLink>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>

                    <div class="row">
                        <div class="d-flex justify-content-end">
                            <NavLink href="/kien-thuc">
                                <button type="button" class="see-more secondary-color">Xem thêm</button>
                            </NavLink>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
</div>