@page "/"
@inherits OwningComponentBase
@inject IJSRuntime jsr;

<HeaderContent>
    <!-- tailwind -->
    <PageTitle>Trang chủ - Kolin</PageTitle>
    <script src="https://cdn.tailwindcss.com"></script>
</HeaderContent>


<div class="home-page">
    <!-- BANNER SLIDER -->
    <div class="banner-slider">
        <div class="swiper swiperBanner pb-12">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a href="/khoa-hoc-offline/pose----hoc-tao-dang-chup-anh-bang-smartphone-11" title="POSE - HỌC TẠO DÁNG CHỤP ẢNH BẰNG SMARTPHONE" class="block">
                        <img class="block w-full h-full object-cover" src="./img/home-page/slide-01.png"
                            alt="slide-01" />
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="/khoa-hoc-offline/tikmaster:-bung-no-thuong-hieu-va-doanh-so-tiktok-15" title="TIKMASTER: Bùng nổ thương hiệu và doanh số Tiktok" class="block">
                        <img class="block w-full h-full object-cover" src="./img/home-page/slide-02.png"
                            alt="slide-02" />
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="/khoa-hoc-offline/than-thai-khi-chat-9" title="Thần thái khí chất" class="block">
                        <img class="block w-full h-full object-cover" src="./img/home-page/slide-03.png"
                            alt="slide-03" />
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="/khoa-hoc-offline/livestream-master---khoa-hoc-livestream-thuc-chien-so-1-10" title="LIVESTREAM MASTER - KHOÁ HỌC LIVESTREAM THỰC CHIẾN SỐ 1" class="block">
                        <img class="block w-full h-full object-cover" src="./img/home-page/slide-04.png"
                            alt="slide-04" />
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="/khoa-hoc-offline/personal-brand-16" class="block" title="Personal Brand">
                        <img class="block w-full h-full object-cover" src="./img/home-page/slide-05.png"
                            alt="slide-05" />
                    </a>
                </div>
            </div>
            <div class="swiper-pagination home-page"></div>
        </div>
    </div>

    <!-- KOLIN ACADEMY -->
    <div class="container-1200 mt-12 lg:px-0 px-4">
        <div class="flex lg:flex-row flex-col gap-8 gap-x-8">
            <div class="flex-1">
                <iframe class="w-full aspect-[4/2.3] rounded-lg border border-stone-800"
                    src="https://www.youtube.com/embed/yZPCqNncaNQ?si=C87eGcB2Ur0GQcA6" title="YouTube video player"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <div class="flex-1">
                <h1 class="text-3xl lg:text-5xl text-red-700 font-semibold">
                    KOLIN ACADEMY
                </h1>
                <p class="text-lg font-semibold mt-3 mb-8">
                    Tiền thân là học viện Nik Academy, Nay là Học Viện Đào Tạo KOL’s
                    Kolin Academy
                </p>
                <p class="text-base mb-8">
                    Với hơn 8000 học viên đã qua đào tạo đến từ khắp 3 miền trên tổ
                    quốc, Kolin Academy tự hào là đơn vị dẫn đầu về đào tạo xây dựng
                    thương hiệu cá nhân, giúp cho rất nhiều học viên, doanh nghiệp, tổ
                    chức tìm ra được hình thức marketing mới thay thế cho tư duy
                    marketing doanh nghiệp cũ, từ đó đem lại hiệu quả cực kì cao trong
                    hệ thông kinh doanh của các cá nhân, doanh nghiệp
                </p>
                <a href="#" class="bg-white hover:bg-gray-100 text-red-800 font-bold py-3 px-8 text-base rounded">
                    Xem chi tiết
                </a>
            </div>
        </div>
    </div>

    <!-- KHÓA HỌC TẠI KOLIN -->
    <div class="container-1200 lg:py-40 py-20 lg:px-0 px-4">
        <div class="course-title">
            <h2 class="text-3xl lg:text-[54px] font-semibold text-center">
                KHÓA HỌC TẠI <span class="text-red-700">KOLIN</span>
            </h2>
            <p class="text-xl lg:text-2xl mt-6 text-center lg:px-20 px-0">
                Kolin Academy là đơn vị cung cấp giải pháp, định hướng xây dựng
                thương hiệu cá nhân cho các cá nhân, đội nhóm, doanh nghiệp
            </p>
        </div>

        <div class="course-online lg:py-28 py-10">
            <div class="grid lg:grid-cols-3 grid-cols-1 gap-4">
                <!-- grid items -->
                <div>
                    <h3 class="text-2xl lg:text-[40px] text-red-700 font-semibold">
                        KHÓA HỌC ONLINE
                    </h3>
                </div>
                @if (topTwoOnlineCourses != null)
                {
                    @foreach (var course in topTwoOnlineCourses)
                    {
                        <!-- grid item -->
                        <div class="mb-2">
                            <div class="max-w-sm rounded-xl overflow-hidden bg-white p-2 h-full">
                                <img class="w-full rounded-xl h-[160px]" src="@course.ThumbNailImageLink"
                                    alt="@course.Name" />
                                <div class="p-2">
                                    <div class="font-bold text-xl mb-4 text-gray-900 font-semibold line-clamp-3 h-[80px]">
                                        @course.Name
                                    </div>
                                    <div class="h-[124px]">
                                        <div class="text-gray-900 text-base mb-1">
                                            Mô tả khóa học
                                        </div>
                                        <div class="text-gray-700 text-base line-clamp-4">
                                            @course.ShortDescription
                                        </div>
                                    </div>
                                </div>
                                <hr class="h-px my-2 bg-gray-200 border-0 dark:bg-gray-700" />
                                <div class="pt-4 pb-4 ml-1">
                                    <a href="@course.DetailLink"
                                        class="inline-block color-white hover:bg-red-900 bg-red-800 font-bold py-3 px-8 text-lg rounded-lg">
                                        TÌM HIỂU THÊM
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                }

            </div>
        </div>

        <div class="course-online">
            <div class="grid lg:grid-cols-3 grid-cols-1 gap-4">
                <!-- grid item -->
                <div>
                    <h3 class="text-2xl lg:text-[40px] text-red-700 font-semibold">
                        KHÓA HỌC OFFLINE
                    </h3>
                </div>
                @if(offlineCourses != null){
                    @foreach(var course in offlineCourses){
                        <!-- grid item -->
                         <div class="mb-2">
                            <div class="max-w-sm rounded-xl overflow-hidden bg-white p-2 h-full">
                                <img class="w-full rounded-xl h-[160px]" src="@course.ThumbNailImageLink"
                                    alt="@course.Name" />
                                <div class="p-2">
                                    <div class="font-bold text-xl mb-4 text-gray-900 font-semibold line-clamp-3 h-[80px]">
                                        @course.Name
                                    </div>
                                    <div class="h-[124px]">
                                        <div class="text-gray-900 text-base mb-1">
                                            Mô tả khóa học
                                        </div>
                                        <div class="text-gray-700 text-base line-clamp-4">
                                            @course.ShortDescription
                                        </div>
                                    </div>
                                </div>
                                <hr class="h-px my-2 bg-gray-200 border-0 dark:bg-gray-700" />
                                <div class="pt-4 pb-4 ml-1">
                                    <a href="@course.DetailCourseLink"
                                        class="inline-block color-white hover:bg-red-900 bg-red-800 font-bold py-3 px-8 text-lg rounded-lg">
                                        TÌM HIỂU THÊM
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                }
               
            </div>
        </div>
    </div>

    <!-- SỰ KIỆN KOLIN ACADEMY -->
    <div class="bg-[url('/img/home-page/bg-event.png')]">
        <div class="container-1200 py-16">
            <h2 class="text-3xl lg:text-[54px] font-semibold text-center mb-14">
                SỰ KIỆN KOLIN ACADEMY
            </h2>

            <div class="grid lg:grid-cols-5 grid-cols-1 gap-4 lg:px-0 px-4">
                <div class="col-span-1 lg:col-span-3 lg:pr-4 pr-0">
                    <!-- item -->
                    <div class="relative mb-3 min-h-[123px] flex items-center">
                        <div class="absolute inset-0 bg-white border border-gray-300 rounded-lg opacity-20"></div>
                        <div class="absolute right-0 top-[-5px]">
                            <svg width="249" height="10" viewBox="0 0 249 10" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path style="mix-blend-mode: color-dodge"
                                    d="M124.341 9.97987C55.5818 9.73439 -0.089179 7.3059 0.000107249 4.55553C0.08645 1.80532 55.8987 -0.225371 124.657 0.0201066C193.42 0.265584 249.086 2.69407 249 5.44444C248.913 8.19481 193.102 10.2255 124.341 9.97987Z"
                                    fill="url(#paint0_radial_15_580)" />
                                <defs>
                                    <radialGradient id="paint0_radial_15_580" cx="0" cy="0" r="1"
                                        gradientUnits="userSpaceOnUse"
                                        gradientTransform="translate(124.944 4.75848) rotate(91.8506) scale(4.9772 124.492)">
                                        <stop stop-color="white" />
                                        <stop offset="1" />
                                    </radialGradient>
                                </defs>
                            </svg>
                        </div>
                        <div class="p-4 relative z-10 text-gray-50 text-xl lg:text-2xl font-semibold">
                            NHÌN LẠI SỰ KIỆN LIVESTREAM "CHỢ PHIÊN OCOP - VỀ MIỀN ĐẤT TỔ"
                            CÙNG KOLIN x BỘ NÔNG NGHIỆP x TIKTOK
                        </div>
                        <div class="absolute bottom-[-5px]">
                            <svg width="249" height="10" viewBox="0 0 249 10" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path style="mix-blend-mode: color-dodge"
                                    d="M124.341 9.97987C55.5818 9.73439 -0.089179 7.3059 0.000107249 4.55553C0.08645 1.80532 55.8987 -0.225371 124.657 0.0201066C193.42 0.265584 249.086 2.69407 249 5.44444C248.913 8.19481 193.102 10.2255 124.341 9.97987Z"
                                    fill="url(#paint0_radial_15_580)" />
                                <defs>
                                    <radialGradient id="paint0_radial_15_580" cx="0" cy="0" r="1"
                                        gradientUnits="userSpaceOnUse"
                                        gradientTransform="translate(124.944 4.75848) rotate(91.8506) scale(4.9772 124.492)">
                                        <stop stop-color="white" />
                                        <stop offset="1" />
                                    </radialGradient>
                                </defs>
                            </svg>
                        </div>
                    </div>
                    <!-- item -->
                    <div class="relative mb-3 min-h-[123px] flex items-center">
                        <div class="absolute inset-0 bg-white border border-gray-300 rounded-lg opacity-20"></div>
                        <div class="absolute right-0 top-[-5px]">
                            <svg width="249" height="10" viewBox="0 0 249 10" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path style="mix-blend-mode: color-dodge"
                                    d="M124.341 9.97987C55.5818 9.73439 -0.089179 7.3059 0.000107249 4.55553C0.08645 1.80532 55.8987 -0.225371 124.657 0.0201066C193.42 0.265584 249.086 2.69407 249 5.44444C248.913 8.19481 193.102 10.2255 124.341 9.97987Z"
                                    fill="url(#paint0_radial_15_580)" />
                                <defs>
                                    <radialGradient id="paint0_radial_15_580" cx="0" cy="0" r="1"
                                        gradientUnits="userSpaceOnUse"
                                        gradientTransform="translate(124.944 4.75848) rotate(91.8506) scale(4.9772 124.492)">
                                        <stop stop-color="white" />
                                        <stop offset="1" />
                                    </radialGradient>
                                </defs>
                            </svg>
                        </div>
                        <div class="p-4 relative z-10 text-gray-50 text-xl lg:text-2xl font-semibold">
                            NHÌN LẠI SỰ KIỆN HOT NHẤT VỀ LIVESTREAM - WORKSHOP LIVESTREAM
                            MASTER CỦA KOLIN
                        </div>
                        <div class="absolute bottom-[-5px]">
                            <svg width="249" height="10" viewBox="0 0 249 10" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path style="mix-blend-mode: color-dodge"
                                    d="M124.341 9.97987C55.5818 9.73439 -0.089179 7.3059 0.000107249 4.55553C0.08645 1.80532 55.8987 -0.225371 124.657 0.0201066C193.42 0.265584 249.086 2.69407 249 5.44444C248.913 8.19481 193.102 10.2255 124.341 9.97987Z"
                                    fill="url(#paint0_radial_15_580)" />
                                <defs>
                                    <radialGradient id="paint0_radial_15_580" cx="0" cy="0" r="1"
                                        gradientUnits="userSpaceOnUse"
                                        gradientTransform="translate(124.944 4.75848) rotate(91.8506) scale(4.9772 124.492)">
                                        <stop stop-color="white" />
                                        <stop offset="1" />
                                    </radialGradient>
                                </defs>
                            </svg>
                        </div>
                    </div>
                    <!-- item -->
                    <div class="relative mb-3 min-h-[123px] flex items-center">
                        <div class="absolute inset-0 bg-white border border-gray-300 rounded-lg opacity-20"></div>
                        <div class="absolute right-0 top-[-5px]">
                            <svg width="249" height="10" viewBox="0 0 249 10" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path style="mix-blend-mode: color-dodge"
                                    d="M124.341 9.97987C55.5818 9.73439 -0.089179 7.3059 0.000107249 4.55553C0.08645 1.80532 55.8987 -0.225371 124.657 0.0201066C193.42 0.265584 249.086 2.69407 249 5.44444C248.913 8.19481 193.102 10.2255 124.341 9.97987Z"
                                    fill="url(#paint0_radial_15_580)" />
                                <defs>
                                    <radialGradient id="paint0_radial_15_580" cx="0" cy="0" r="1"
                                        gradientUnits="userSpaceOnUse"
                                        gradientTransform="translate(124.944 4.75848) rotate(91.8506) scale(4.9772 124.492)">
                                        <stop stop-color="white" />
                                        <stop offset="1" />
                                    </radialGradient>
                                </defs>
                            </svg>
                        </div>
                        <div class="p-4 relative z-10 text-gray-50 text-xl lg:text-2xl font-semibold uppercase">
                            “Chợ phiên OCOP về miền đất Tổ” đưa nông sản Phú Thọ lên sàn
                            thương mại điện tử | VTC16
                        </div>
                        <div class="absolute bottom-[-5px]">
                            <svg width="249" height="10" viewBox="0 0 249 10" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path style="mix-blend-mode: color-dodge"
                                    d="M124.341 9.97987C55.5818 9.73439 -0.089179 7.3059 0.000107249 4.55553C0.08645 1.80532 55.8987 -0.225371 124.657 0.0201066C193.42 0.265584 249.086 2.69407 249 5.44444C248.913 8.19481 193.102 10.2255 124.341 9.97987Z"
                                    fill="url(#paint0_radial_15_580)" />
                                <defs>
                                    <radialGradient id="paint0_radial_15_580" cx="0" cy="0" r="1"
                                        gradientUnits="userSpaceOnUse"
                                        gradientTransform="translate(124.944 4.75848) rotate(91.8506) scale(4.9772 124.492)">
                                        <stop stop-color="white" />
                                        <stop offset="1" />
                                    </radialGradient>
                                </defs>
                            </svg>
                        </div>
                    </div>
                    <!-- item -->
                    <div class="relative mb-3 min-h-[123px] flex items-center">
                        <div class="absolute inset-0 bg-white border border-gray-300 rounded-lg opacity-20"></div>
                        <div class="absolute right-0 top-[-5px]">
                            <svg width="249" height="10" viewBox="0 0 249 10" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path style="mix-blend-mode: color-dodge"
                                    d="M124.341 9.97987C55.5818 9.73439 -0.089179 7.3059 0.000107249 4.55553C0.08645 1.80532 55.8987 -0.225371 124.657 0.0201066C193.42 0.265584 249.086 2.69407 249 5.44444C248.913 8.19481 193.102 10.2255 124.341 9.97987Z"
                                    fill="url(#paint0_radial_15_580)" />
                                <defs>
                                    <radialGradient id="paint0_radial_15_580" cx="0" cy="0" r="1"
                                        gradientUnits="userSpaceOnUse"
                                        gradientTransform="translate(124.944 4.75848) rotate(91.8506) scale(4.9772 124.492)">
                                        <stop stop-color="white" />
                                        <stop offset="1" />
                                    </radialGradient>
                                </defs>
                            </svg>
                        </div>
                        <div class="p-4 relative z-10 text-gray-50 text-xl lg:text-2xl font-semibold uppercase">
                            SỰ KIỆN LIVESTREAM "CHỢ PHIÊN OCOP - VỀ MIỀN ĐẤT TỔ" THỰC HIỆN
                            BỞI KOLIN x BỘ NÔNG NGHIỆP x TIKTOK
                        </div>
                        <div class="absolute bottom-[-5px]">
                            <svg width="249" height="10" viewBox="0 0 249 10" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path style="mix-blend-mode: color-dodge"
                                    d="M124.341 9.97987C55.5818 9.73439 -0.089179 7.3059 0.000107249 4.55553C0.08645 1.80532 55.8987 -0.225371 124.657 0.0201066C193.42 0.265584 249.086 2.69407 249 5.44444C248.913 8.19481 193.102 10.2255 124.341 9.97987Z"
                                    fill="url(#paint0_radial_15_580)" />
                                <defs>
                                    <radialGradient id="paint0_radial_15_580" cx="0" cy="0" r="1"
                                        gradientUnits="userSpaceOnUse"
                                        gradientTransform="translate(124.944 4.75848) rotate(91.8506) scale(4.9772 124.492)">
                                        <stop stop-color="white" />
                                        <stop offset="1" />
                                    </radialGradient>
                                </defs>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="col-span-1 lg:col-span-2">
                    <iframe class="w-full aspect-[4/2.5] rounded-lg border border-stone-800"
                        src="https://www.youtube.com/embed/8atDIwyZk6I?si=6P1_xuWAws0gHr8N"
                        title="VIDEO GIỚI THIỆU: OCOP PHÚ THỌ"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                    <p class="text-2xl lg:text-2xl font-semibold mt-3 text-center">
                        VIDEO GIỚI THIỆU: OCOP PHÚ THỌ
                    </p>

                    <div class="border border-stone-300 rounded-lg p-4 mt-8 mb-6 relative">
                        <div class="text-xl absolute top-[-16px] left-[-8px] bg-[#881f1c] px-2">
                            Mô tả:
                        </div>
                        <div class="text-base">
                            Kolin Academy là đơn vị cung cấp giải pháp, định hướng xây
                            dựng thương hiệu cá nhân cho các cá nhân, đội nhóm, doanh
                            nghiệp
                        </div>
                    </div>
                    <div class="text-center">
                        <a href="#"
                            class="bg-white hover:bg-gray-100 text-red-800 font-bold py-2 px-8 text-xl rounded inline-block">
                            Xem chi tiết
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- LÝ DO KHÁCH HÀNG CHỌN VÀ CÂU CHUYỆN THÀNH CÔNG -->
    <div class="bg-[url('/img/home-page/bg-reason.png')]">
        <div class="container-1200 py-16">
            <h2 class="text-3xl lg:text-[54px] font-semibold text-center mb-10">
                LÝ DO KHÁCH HÀNG CHỌN
                <span class="text-red-700">KOLIN ACADEMY</span>
            </h2>
            <div class="text-xl lg:text-4xl text-center">Mô tả</div>
            <!-- reason -->
            <div class="px-4 lg:px-0">
                <div class="grid lg:grid-cols-3 grid-cols-1 gap-8 mt-12 mb-8">
                    <div>
                        <iframe class="w-full aspect-[4/3] rounded-lg border border-stone-800"
                            src="https://www.youtube.com/embed/dVvBr3wmmXo?si=uP0pN9J2ULncPCaA"
                            title="YouTube video player"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                    <div>
                        <iframe class="w-full aspect-[4/3] rounded-lg border border-stone-800"
                            src="https://www.youtube.com/embed/fVVOWGX8EnE?si=N2L56nyq9vi8r0J1"
                            title="YouTube video player"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                    <div>
                        <iframe class="w-full aspect-[4/3] rounded-lg border border-stone-800"
                            src="https://www.youtube.com/embed/Ka_AWQeWSZQ?si=4w7_e6FClg8BHdck"
                            title="YouTube video player"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="grid lg:grid-cols-2 grid-cols-1 gap-8">
                    <div>
                        <iframe class="w-full aspect-[4/3] lg:aspect-[4/2] rounded-lg border border-stone-800"
                            src="https://www.youtube.com/embed/Ys94uzObYNs?si=efJDj2KugusWS1ua"
                            title="YouTube video player"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                    <div>
                        <iframe class="w-full aspect-[4/3] lg:aspect-[4/2] rounded-lg border border-stone-800"
                            src="https://www.youtube.com/embed/Ys94uzObYNs?si=efJDj2KugusWS1ua"
                            title="YouTube video player"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                </div>
            </div>

            <!-- Câu chuyện -->
            <div>
                <h2 class="text-3xl lg:text-[54px] font-semibold text-center mt-10 mb-4 lg:mt-28 lg:mb-10 text-red-700">
                    CÂU CHUYỆN THÀNH CÔNG
                </h2>
                <div class="slider-story">
                    <div class="item">
                        <iframe class="w-full aspect-[4/3] rounded-lg border border-stone-800"
                            src="https://www.youtube.com/embed/UjIn0xT9_p8?si=vMcafTqKJ9sUBZO7"
                            title="YouTube video player"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                    <div class="item">
                        <iframe class="w-full aspect-[4/3] rounded-lg border border-stone-800"
                            src="https://www.youtube.com/embed/t9rJ_xGU2hU?si=VyHfZ-X1IEOmaQr2"
                            title="YouTube video player"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                    <div class="item">
                        <iframe class="w-full aspect-[4/3] rounded-lg border border-stone-800"
                            src="https://www.youtube.com/embed/vG6O1X4z1Ns?si=W2S_EgBbddOVSWav"
                            title="YouTube video player"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                    <div class="item">
                        <iframe class="w-full aspect-[4/3] rounded-lg border border-stone-800"
                            src="https://www.youtube.com/embed/OGLpUBgFHXI?si=pB8mj2yPj8XpYsCS"
                            title="YouTube video player"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>

    <!-- CASE STUDY VÀ TRUYỀN THÔNG NÓI VỀ CHÚNG TÔI -->
    <div class="bg-[url('/img/home-page/bg-case-study.png')]">
        <div class="container-1200 py-16">
            <div>
                <h2 class="text-3xl lg:text-[54px] font-semibold text-center mb-10">
                    CASE STUDY HỌC VIÊN THÀNH CÔNG
                </h2>

                <div class="swiper swiperCaseStudy p-3 lg:p-6 py-6 lg:py-12">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div
                                class="flex flex-1 rounded-xl border border-stone-300 p-3 gap-4 bg-white bg-opacity-30">
                                <div>
                                    <img src="./img/home-page/case-study-01.png" alt="case study 01"
                                        class="w-[300px] h-[310px] rounded-xl border border-stone-300 object-cover" />
                                </div>
                                <div class="text-lg">
                                    Nguyễn Thị A<br />
                                    CEO công ty ABC<br />
                                    Khóa học:<br />
                                    Truyền thông:<br />
                                    Fan page:<br />
                                    Profile cá nhân:<br />
                                    Tiktok<br />
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div
                                class="flex flex-1 rounded-xl border border-stone-300 p-3 gap-4 bg-white bg-opacity-30">
                                <div>
                                    <img src="./img/home-page/case-study-01.png" alt="case study 01"
                                        class="w-[300px] h-[310px] rounded-xl border border-stone-300 object-cover" />
                                </div>
                                <div class="text-lg">
                                    Nguyễn Thị A<br />
                                    CEO công ty ABC<br />
                                    Khóa học:<br />
                                    Truyền thông:<br />
                                    Fan page:<br />
                                    Profile cá nhân:<br />
                                    Tiktok<br />
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div
                                class="flex flex-1 rounded-xl border border-stone-300 p-3 gap-4 bg-white bg-opacity-30">
                                <div>
                                    <img src="./img/home-page/case-study-01.png" alt="case study 01"
                                        class="w-[300px] h-[310px] rounded-xl border border-stone-300 object-cover" />
                                </div>
                                <div class="text-lg">
                                    Nguyễn Thị A<br />
                                    CEO công ty ABC<br />
                                    Khóa học:<br />
                                    Truyền thông:<br />
                                    Fan page:<br />
                                    Profile cá nhân:<br />
                                    Tiktok<br />
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div
                                class="flex flex-1 rounded-xl border border-stone-300 p-3 gap-4 bg-white bg-opacity-30">
                                <div>
                                    <img src="./img/home-page/case-study-01.png" alt="case study 01"
                                        class="w-[300px] h-[310px] rounded-xl border border-stone-300 object-cover" />
                                </div>
                                <div class="text-lg">
                                    Nguyễn Thị A<br />
                                    CEO công ty ABC<br />
                                    Khóa học:<br />
                                    Truyền thông:<br />
                                    Fan page:<br />
                                    Profile cá nhân:<br />
                                    Tiktok<br />
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div
                                class="flex flex-1 rounded-xl border border-stone-300 p-3 gap-4 bg-white bg-opacity-30">
                                <div>
                                    <img src="./img/home-page/case-study-01.png" alt="case study 01"
                                        class="w-[300px] h-[310px] rounded-xl border border-stone-300 object-cover" />
                                </div>
                                <div class="text-lg">
                                    Nguyễn Thị A<br />
                                    CEO công ty ABC<br />
                                    Khóa học:<br />
                                    Truyền thông:<br />
                                    Fan page:<br />
                                    Profile cá nhân:<br />
                                    Tiktok<br />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>

            <div class="mt-20">
                <h2 class="text-3xl lg:text-[54px] font-semibold text-center mb-10">
                    TRUYỀN THÔNG NÓI GÌ VỀ CHÚNG TÔI
                </h2>

                <div class="swiper swiperAboutUs pb-12 lg:px-0 px-4">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="max-w-lg bg-white border border-gray-200 rounded-xl p-3">
                                <a href="#">
                                    <img class="rounded-xl h-[165px] w-full object-cover"
                                        src="https://cafefcdn.com/thumb_w/640/pr/2022/photo1669277505077-16692775051451945082346-63804907420097.png" alt="" />
                                </a>
                                <div class="flex justify-between mt-5">
                                    <div>
                                        <h5 class="mb-2 text-xl font-bold text-gray-900">
                                            Chuyên gia xây dựng thương hiệu cá nhân Vũ Diệu Thúy - Trao đi để nhận lại
                                        </h5>
                                        <a href="https://cafef.vn/chuyen-gia-xay-dung-thuong-hieu-ca-nhan-vu-dieu-thuy-trao-di-de-nhan-lai-20221124172339972.chn" class="text-base text-blue-900 underline" target="_blank">
                                            Xem chi tiết
                                        </a>
                                    </div>
                                    <div>
                                        <p class="mb-3 text-base text-blue-900">Nguồn</p>
                                        <img class="w-28 h-10 object-cover rounded-lg shadow-lg"
                                            src="https://cafefcdn.com/web_images/cafef_logo2022.svg" alt="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="max-w-lg bg-white border border-gray-200 rounded-xl p-3">
                                <a target="_blank" href="https://kenh14.vn/cung-dinh-hinh-phong-cach-voi-nha-dao-tao-thuong-hieu-ca-nhan-vu-dieu-thuy-20220418123503733.chn">
                                    <img class="rounded-xl h-[165px] w-[350px] object-cover"
                                        src="https://channel.mediacdn.vn/thumb_w/640/428462621602512896/2022/4/18/photo-1-16502572358821828980259.jpg" alt="" />
                                </a>
                                <div class="flex justify-between mt-5">
                                    <div>
                                        <h5 class="mb-2 text-xl font-bold text-gray-900 line-clamp-3">
                                            Cùng định hình phong cách với nhà đào tạo thương hiệu cá nhân Vũ Diệu Thúy
                                        </h5>
                                        <a href="https://kenh14.vn/cung-dinh-hinh-phong-cach-voi-nha-dao-tao-thuong-hieu-ca-nhan-vu-dieu-thuy-20220418123503733.chn" target="_blank" class="text-base text-blue-900 underline">
                                            Xem chi tiết
                                        </a>
                                    </div>
                                    <div>
                                        <p class="mb-3 text-base text-blue-900">Nguồn</p>
                                        <img class="w-28 h-10 object-cover rounded-lg shadow-lg"
                                            src="https://kenh14cdn.com/web_images/k14_logo2022.svg" alt="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="max-w-lg bg-white border border-gray-200 rounded-xl p-3">
                                <a href="https://vov.vn/van-hoa/ra-mat-cam-nang-giup-nguoi-tre-xay-dung-thuong-hieu-ca-nhan-833400.vov" target="_blank">
                                    <img class="rounded-xl h-[165px] w-[350px] object-cover"
                                        src="https://vov-media.emitech.vn/sites/default/files/styles/og_image/public/2021-01/IMG_3621.jpg?v=1729503307" alt="" />
                                </a>
                                <div class="flex justify-between mt-5">
                                    <div>
                                        <h5 class="mb-2 text-xl font-bold text-gray-900 line-clamp-3">
                                            Ra mắt cẩm nang giúp người trẻ xây dựng thương hiệu cá nhân
                                        </h5>
                                        <a href="https://vov.vn/van-hoa/ra-mat-cam-nang-giup-nguoi-tre-xay-dung-thuong-hieu-ca-nhan-833400.vov" target="_blank" class="text-base text-blue-900 underline">
                                            Xem chi tiết
                                        </a>
                                    </div>
                                    <div>
                                        <p class="mb-3 text-base text-blue-900">Nguồn</p>
                                        <img class="w-28 h-10 object-cover rounded-lg shadow-lg"
                                            src="https://vov.vn/themes/custom/vovvn/logo.svg" alt="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="max-w-lg bg-white border border-gray-200 rounded-xl p-3">
                                <a target="_blank" href="https://ngoisao.vnexpress.net/street-style-ton-dang-cua-hot-mom-vu-dieu-thuy-4483697.html">
                                    <img class="rounded-xl h-[165px] w-[350px] object-cover"
                                        src="https://i1-ngoisao.vnecdn.net/2022/07/04/vu-dieu-thuy-5-1656950201-7770-1656950392.jpg?w=1200&h=0&q=100&dpr=1&fit=crop&s=toK9QP7OH4nsqtCo1GcJMQ" alt="Street style tôn dáng của hot mom Vũ Diệu Thúy" />
                                </a>
                                <div class="flex justify-between mt-5">
                                    <div>
                                        <h5 class="mb-2 text-xl font-bold text-gray-900 line-clamp-3">
                                            Street style tôn dáng của hot mom Vũ Diệu Thúy
                                        </h5>
                                        <a href="https://ngoisao.vnexpress.net/street-style-ton-dang-cua-hot-mom-vu-dieu-thuy-4483697.html" class="text-base text-blue-900 underline" target="_blank">
                                            Xem chi tiết
                                        </a>
                                    </div>
                                    <div>
                                        <p class="mb-3 text-base text-blue-900">Nguồn</p>
                                        <img class="w-28 h-10 object-cover rounded-lg shadow-lg"
                                            src="https://flowbite.com/docs/images/blog/image-1.jpg" alt="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- FORM ĐĂNG KÝ KHÓA HỌC -->
    <div>
        <div class="container-1200 py-16">
            <h2 class="text-3xl lg:text-[54px] font-semibold text-center mb-10 text-red-600">
                ĐĂNG KÝ NHẬN TƯ VẤN KHÓA HỌC
            </h2>
            <div class="px-4 lg:px-0">
                <form class="w-full bg-white p-6 lg:p-12 rounded-lg">
                    <div class="flex flex-wrap -mx-3">
                        <div class="w-full md:w-1/2 px-3">
                            <div class="relative mb-6">
                                <div class="absolute inset-y-0 start-0 flex items-center ps-2 pointer-events-none">
                                    <img src="./img/home-page/userIcon.svg" alt="user icon" />
                                </div>
                                <input type="text" id="input-name"
                                    class="bg-gray-50 border border-gray-400 text-gray-700 text-lg rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-12 p-2.5"
                                    placeholder="Họ và tên" />
                            </div>
                        </div>
                        <div class="w-full md:w-1/2 px-3">
                            <div class="relative mb-6">
                                <div class="absolute inset-y-0 start-0 flex items-center ps-2 pointer-events-none">
                                    <img src="./img/home-page/phoneIcon.svg" alt="phone icon" />
                                </div>
                                <input type="tel" id="input-phone"
                                    class="bg-gray-50 border border-gray-400 text-gray-700 text-lg rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-12 p-2.5"
                                    placeholder="Số điện thoại" />
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-wrap -mx-3">
                        <div class="w-full md:w-1/2 px-3">
                            <div class="relative mb-6">
                                <div class="absolute inset-y-0 start-0 flex items-center ps-2 pointer-events-none">
                                    <img src="./img/home-page/emailIcon.svg" />
                                </div>
                                <input type="email" id="input-email"
                                    class="bg-gray-50 border border-gray-400 text-gray-700 text-lg rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-12 p-2.5"
                                    placeholder="Email" />
                            </div>
                        </div>
                        <div class="w-full md:w-1/2 px-3">
                            <div class="relative mb-6">
                                <div class="absolute inset-y-0 start-0 flex items-center ps-2 pointer-events-none">
                                    <img src="./img/home-page/locationIcon.svg" />
                                </div>
                                <input type="text" id="input-location"
                                    class="bg-gray-50 border border-gray-400 text-gray-700 text-lg rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-12 p-2.5"
                                    placeholder="Tỉnh thành" />
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-wrap">
                        <textarea id="message" rows="4"
                            class="block p-2.5 w-full text-lg text-gray-900 bg-gray-50 rounded-lg border border-gray-400 focus:ring-blue-500 focus:border-blue-500"
                            placeholder="Ghi Chú"></textarea>
                    </div>
                    <div class="text-center">
                        <button type="button"
                            class="text-white text-2xl bg-red-700 hover:bg-blue-800 rounded-lg px-5 py-2.5 me-2 mt-6">
                            ĐĂNG KÝ NGAY
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>