@page "/"
@inherits OwningComponentBase
@inject IJSRuntime jsr;

<HeaderContent>
    <PageTitle>Trang chủ - Kolin</PageTitle>
</HeaderContent>


<div class="home-page">
    <!-- BANNER SLIDER -->
    <div class="banner-slider">
        <div class="swiper swiperBanner pb-12">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a href="/khoa-hoc-offline/pose----hoc-tao-dang-chup-anh-bang-smartphone-11" title="POSE - HỌC TẠO DÁNG CHỤP ẢNH BẰNG SMARTPHONE" class="block">
                        <img class="block w-full h-full object-cover" src="./img/home-page/slide-01.png"
                            alt="slide-01" />
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="/khoa-hoc-offline/tikmaster:-bung-no-thuong-hieu-va-doanh-so-tiktok-15" title="TIKMASTER: Bùng nổ thương hiệu và doanh số Tiktok" class="block">
                        <img class="block w-full h-full object-cover" src="./img/home-page/slide-02.png"
                            alt="slide-02" />
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="/khoa-hoc-offline/than-thai-khi-chat-9" title="Thần thái khí chất" class="block">
                        <img class="block w-full h-full object-cover" src="./img/home-page/slide-03.png"
                            alt="slide-03" />
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="/khoa-hoc-offline/livestream-master---khoa-hoc-livestream-thuc-chien-so-1-10" title="LIVESTREAM MASTER - KHOÁ HỌC LIVESTREAM THỰC CHIẾN SỐ 1" class="block">
                        <img class="block w-full h-full object-cover" src="./img/home-page/slide-04.png"
                            alt="slide-04" />
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="/khoa-hoc-offline/personal-brand-16" class="block" title="Personal Brand">
                        <img class="block w-full h-full object-cover" src="./img/home-page/slide-05.png"
                            alt="slide-05" />
                    </a>
                </div>
            </div>
            <div class="swiper-pagination home-page"></div>
        </div>
    </div>

    <!-- KOLIN ACADEMY -->
    <div class="container-1200 mt-12 lg:px-0 px-4">
        <div class="flex lg:flex-row flex-col gap-8 gap-x-8">
            <div class="flex-1">
                <iframe class="w-full aspect-[4/2.3] rounded-lg border border-stone-800"
                    src="https://www.youtube.com/embed/vK8BU04EXmo?si=3QL2BKKjFF3ji4pt" title="YouTube video player"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <div class="flex-1">
                <h1 class="text-3xl lg:text-5xl text-red-700 font-semibold">
                    KOLIN ACADEMY
                </h1>
                <p class="text-lg font-semibold mt-3 mb-8">
                    Tiền thân là học viện Nik Academy, Nay là Học Viện Đào Tạo KOL’s
                    Kolin Academy
                </p>
                <p class="text-base mb-8">
                    Với hơn 8000 học viên đã qua đào tạo đến từ khắp 3 miền trên tổ
                    quốc, Kolin Academy tự hào là đơn vị dẫn đầu về đào tạo xây dựng
                    thương hiệu cá nhân, giúp cho rất nhiều học viên, doanh nghiệp, tổ
                    chức tìm ra được hình thức marketing mới thay thế cho tư duy
                    marketing doanh nghiệp cũ, từ đó đem lại hiệu quả cực kì cao trong
                    hệ thông kinh doanh của các cá nhân, doanh nghiệp
                </p>
                <a href="#" class="bg-white hover:bg-gray-100 text-red-800 font-bold py-3 px-8 text-base rounded">
                    Xem chi tiết
                </a>
            </div>
        </div>
    </div>

    <!-- KHÓA HỌC TẠI KOLIN -->
    <div class="container-1200 lg:py-40 py-20 lg:px-0 px-4">
        <div class="course-title">
            <h2 class="text-3xl lg:text-[54px] font-semibold text-center">
                KHÓA HỌC TẠI <span class="text-red-700">KOLIN</span>
            </h2>
            <p class="text-xl lg:text-2xl mt-6 text-center lg:px-20 px-0">
                Kolin Academy là đơn vị cung cấp giải pháp, định hướng xây dựng
                thương hiệu cá nhân cho các cá nhân, đội nhóm, doanh nghiệp
            </p>
        </div>

        <div class="course-online lg:py-28 py-10">
            <div class="grid lg:grid-cols-3 grid-cols-1 gap-4 lg:gap-8">
                <!-- grid items -->
                <div>
                    <h3 class="text-2xl lg:text-[38px] lg:leading-10 text-red-700 font-semibold">
                        KHÓA HỌC ONLINE
                    </h3>
                </div>
                @if (topTwoOnlineCourses != null)
                {
                    @foreach (var course in topTwoOnlineCourses)
                    {
                        <!-- grid item -->
                        <div class="mb-2">
                            <div class="rounded-xl overflow-hidden bg-white p-2 h-full">
                                <img class="w-full rounded-xl h-[160px] object-cover" src="@course.ThumbNailImageLink"
                                    alt="@course.Name" />
                                <div class="p-2">
                                    <div class="font-bold text-xl mb-4 text-gray-900 font-semibold line-clamp-3 h-[80px]">
                                        @course.Name
                                    </div>
                                    <div class="h-[124px]">
                                        <div class="text-gray-900 text-base mb-1">
                                            Mô tả khóa học
                                        </div>
                                        <div class="text-gray-700 text-base line-clamp-4">
                                            @course.ShortDescription
                                        </div>
                                    </div>
                                </div>
                                <hr class="h-px my-2 bg-gray-200 border-0 dark:bg-gray-700" />
                                <div class="pt-4 pb-4 ml-1">
                                    <a href="@course.DetailLink"
                                        class="inline-block color-white hover:bg-red-900 bg-red-800 font-bold py-3 px-8 text-lg rounded-lg">
                                        TÌM HIỂU THÊM
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                }

            </div>
        </div>

        <div class="course-offline">
            <div class="grid lg:grid-cols-3 grid-cols-1 gap-4 lg:gap-8">
                <!-- grid item -->
                <div>
                    <h3 class="text-2xl lg:text-[38px] lg:leading-10 text-red-700 font-semibold">
                        KHÓA HỌC OFFLINE
                    </h3>
                </div>
                @if(offlineCourses != null){
                    @foreach(var course in offlineCourses){
                        <!-- grid item -->
                         <div class="mb-2">
                            <div class="rounded-xl overflow-hidden bg-white p-2 h-full">
                                <img class="w-full rounded-xl h-[160px] object-cover" src="@course.ThumbNailImageLink"
                                    alt="@course.Name" />
                                <div class="p-2">
                                    <div class="font-bold text-xl mb-4 text-gray-900 font-semibold line-clamp-3 h-[80px]">
                                        @course.Name
                                    </div>
                                    <div class="h-[124px]">
                                        <div class="text-gray-900 text-base mb-1">
                                            Mô tả khóa học
                                        </div>
                                        <div class="text-gray-700 text-base line-clamp-4">
                                            @course.ShortDescription
                                        </div>
                                    </div>
                                </div>
                                <hr class="h-px my-2 bg-gray-200 border-0 dark:bg-gray-700" />
                                <div class="pt-4 pb-4 ml-1">
                                    <a href="@course.DetailCourseLink"
                                        class="inline-block color-white hover:bg-red-900 bg-red-800 font-bold py-3 px-8 text-lg rounded-lg">
                                        TÌM HIỂU THÊM
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                }
               
            </div>
        </div>
    </div>

    <!-- SỰ KIỆN KOLIN ACADEMY -->
    <div class="bg-[url('/img/home-page/bg-event.png')]">
        <div class="container-1200 py-16">
            <h2 class="text-3xl lg:text-[54px] font-semibold text-center mb-14">
                SỰ KIỆN KOLIN ACADEMY
            </h2>

            <div class="grid lg:grid-cols-5 grid-cols-1 gap-4 lg:px-0 px-4">
                <div class="col-span-1 lg:col-span-3 lg:pr-4 pr-0">
                    <!-- item -->
                    <div class="relative mb-3 min-h-[123px] flex items-center">
                        <div class="absolute inset-0 bg-white border border-gray-300 rounded-lg opacity-20"></div>
                        <div class="absolute right-0 top-[-5px]">
                            <svg width="249" height="10" viewBox="0 0 249 10" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path style="mix-blend-mode: color-dodge"
                                    d="M124.341 9.97987C55.5818 9.73439 -0.089179 7.3059 0.000107249 4.55553C0.08645 1.80532 55.8987 -0.225371 124.657 0.0201066C193.42 0.265584 249.086 2.69407 249 5.44444C248.913 8.19481 193.102 10.2255 124.341 9.97987Z"
                                    fill="url(#paint0_radial_15_580)" />
                                <defs>
                                    <radialGradient id="paint0_radial_15_580" cx="0" cy="0" r="1"
                                        gradientUnits="userSpaceOnUse"
                                        gradientTransform="translate(124.944 4.75848) rotate(91.8506) scale(4.9772 124.492)">
                                        <stop stop-color="white" />
                                        <stop offset="1" />
                                    </radialGradient>
                                </defs>
                            </svg>
                        </div>
                        <div class="p-4 relative z-10 text-gray-50 text-xl lg:text-2xl font-semibold">
                            NHÌN LẠI SỰ KIỆN LIVESTREAM "CHỢ PHIÊN OCOP - VỀ MIỀN ĐẤT TỔ"
                            CÙNG KOLIN x BỘ NÔNG NGHIỆP x TIKTOK
                        </div>
                        <div class="absolute bottom-[-5px]">
                            <svg width="249" height="10" viewBox="0 0 249 10" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path style="mix-blend-mode: color-dodge"
                                    d="M124.341 9.97987C55.5818 9.73439 -0.089179 7.3059 0.000107249 4.55553C0.08645 1.80532 55.8987 -0.225371 124.657 0.0201066C193.42 0.265584 249.086 2.69407 249 5.44444C248.913 8.19481 193.102 10.2255 124.341 9.97987Z"
                                    fill="url(#paint0_radial_15_580)" />
                                <defs>
                                    <radialGradient id="paint0_radial_15_580" cx="0" cy="0" r="1"
                                        gradientUnits="userSpaceOnUse"
                                        gradientTransform="translate(124.944 4.75848) rotate(91.8506) scale(4.9772 124.492)">
                                        <stop stop-color="white" />
                                        <stop offset="1" />
                                    </radialGradient>
                                </defs>
                            </svg>
                        </div>
                    </div>
                    <!-- item -->
                    <div class="relative mb-3 min-h-[123px] flex items-center">
                        <div class="absolute inset-0 bg-white border border-gray-300 rounded-lg opacity-20"></div>
                        <div class="absolute right-0 top-[-5px]">
                            <svg width="249" height="10" viewBox="0 0 249 10" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path style="mix-blend-mode: color-dodge"
                                    d="M124.341 9.97987C55.5818 9.73439 -0.089179 7.3059 0.000107249 4.55553C0.08645 1.80532 55.8987 -0.225371 124.657 0.0201066C193.42 0.265584 249.086 2.69407 249 5.44444C248.913 8.19481 193.102 10.2255 124.341 9.97987Z"
                                    fill="url(#paint0_radial_15_580)" />
                                <defs>
                                    <radialGradient id="paint0_radial_15_580" cx="0" cy="0" r="1"
                                        gradientUnits="userSpaceOnUse"
                                        gradientTransform="translate(124.944 4.75848) rotate(91.8506) scale(4.9772 124.492)">
                                        <stop stop-color="white" />
                                        <stop offset="1" />
                                    </radialGradient>
                                </defs>
                            </svg>
                        </div>
                        <div class="p-4 relative z-10 text-gray-50 text-xl lg:text-2xl font-semibold">
                            NHÌN LẠI SỰ KIỆN HOT NHẤT VỀ LIVESTREAM - WORKSHOP LIVESTREAM
                            MASTER CỦA KOLIN
                        </div>
                        <div class="absolute bottom-[-5px]">
                            <svg width="249" height="10" viewBox="0 0 249 10" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path style="mix-blend-mode: color-dodge"
                                    d="M124.341 9.97987C55.5818 9.73439 -0.089179 7.3059 0.000107249 4.55553C0.08645 1.80532 55.8987 -0.225371 124.657 0.0201066C193.42 0.265584 249.086 2.69407 249 5.44444C248.913 8.19481 193.102 10.2255 124.341 9.97987Z"
                                    fill="url(#paint0_radial_15_580)" />
                                <defs>
                                    <radialGradient id="paint0_radial_15_580" cx="0" cy="0" r="1"
                                        gradientUnits="userSpaceOnUse"
                                        gradientTransform="translate(124.944 4.75848) rotate(91.8506) scale(4.9772 124.492)">
                                        <stop stop-color="white" />
                                        <stop offset="1" />
                                    </radialGradient>
                                </defs>
                            </svg>
                        </div>
                    </div>
                    <!-- item -->
                    <div class="relative mb-3 min-h-[123px] flex items-center">
                        <div class="absolute inset-0 bg-white border border-gray-300 rounded-lg opacity-20"></div>
                        <div class="absolute right-0 top-[-5px]">
                            <svg width="249" height="10" viewBox="0 0 249 10" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path style="mix-blend-mode: color-dodge"
                                    d="M124.341 9.97987C55.5818 9.73439 -0.089179 7.3059 0.000107249 4.55553C0.08645 1.80532 55.8987 -0.225371 124.657 0.0201066C193.42 0.265584 249.086 2.69407 249 5.44444C248.913 8.19481 193.102 10.2255 124.341 9.97987Z"
                                    fill="url(#paint0_radial_15_580)" />
                                <defs>
                                    <radialGradient id="paint0_radial_15_580" cx="0" cy="0" r="1"
                                        gradientUnits="userSpaceOnUse"
                                        gradientTransform="translate(124.944 4.75848) rotate(91.8506) scale(4.9772 124.492)">
                                        <stop stop-color="white" />
                                        <stop offset="1" />
                                    </radialGradient>
                                </defs>
                            </svg>
                        </div>
                        <div class="p-4 relative z-10 text-gray-50 text-xl lg:text-2xl font-semibold uppercase">
                            “Chợ phiên OCOP về miền đất Tổ” đưa nông sản Phú Thọ lên sàn
                            thương mại điện tử | VTC16
                        </div>
                        <div class="absolute bottom-[-5px]">
                            <svg width="249" height="10" viewBox="0 0 249 10" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path style="mix-blend-mode: color-dodge"
                                    d="M124.341 9.97987C55.5818 9.73439 -0.089179 7.3059 0.000107249 4.55553C0.08645 1.80532 55.8987 -0.225371 124.657 0.0201066C193.42 0.265584 249.086 2.69407 249 5.44444C248.913 8.19481 193.102 10.2255 124.341 9.97987Z"
                                    fill="url(#paint0_radial_15_580)" />
                                <defs>
                                    <radialGradient id="paint0_radial_15_580" cx="0" cy="0" r="1"
                                        gradientUnits="userSpaceOnUse"
                                        gradientTransform="translate(124.944 4.75848) rotate(91.8506) scale(4.9772 124.492)">
                                        <stop stop-color="white" />
                                        <stop offset="1" />
                                    </radialGradient>
                                </defs>
                            </svg>
                        </div>
                    </div>
                    <!-- item -->
                    <div class="relative mb-3 min-h-[123px] flex items-center">
                        <div class="absolute inset-0 bg-white border border-gray-300 rounded-lg opacity-20"></div>
                        <div class="absolute right-0 top-[-5px]">
                            <svg width="249" height="10" viewBox="0 0 249 10" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path style="mix-blend-mode: color-dodge"
                                    d="M124.341 9.97987C55.5818 9.73439 -0.089179 7.3059 0.000107249 4.55553C0.08645 1.80532 55.8987 -0.225371 124.657 0.0201066C193.42 0.265584 249.086 2.69407 249 5.44444C248.913 8.19481 193.102 10.2255 124.341 9.97987Z"
                                    fill="url(#paint0_radial_15_580)" />
                                <defs>
                                    <radialGradient id="paint0_radial_15_580" cx="0" cy="0" r="1"
                                        gradientUnits="userSpaceOnUse"
                                        gradientTransform="translate(124.944 4.75848) rotate(91.8506) scale(4.9772 124.492)">
                                        <stop stop-color="white" />
                                        <stop offset="1" />
                                    </radialGradient>
                                </defs>
                            </svg>
                        </div>
                        <div class="p-4 relative z-10 text-gray-50 text-xl lg:text-2xl font-semibold uppercase">
                            SỰ KIỆN LIVESTREAM "CHỢ PHIÊN OCOP - VỀ MIỀN ĐẤT TỔ" THỰC HIỆN
                            BỞI KOLIN x BỘ NÔNG NGHIỆP x TIKTOK
                        </div>
                        <div class="absolute bottom-[-5px]">
                            <svg width="249" height="10" viewBox="0 0 249 10" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path style="mix-blend-mode: color-dodge"
                                    d="M124.341 9.97987C55.5818 9.73439 -0.089179 7.3059 0.000107249 4.55553C0.08645 1.80532 55.8987 -0.225371 124.657 0.0201066C193.42 0.265584 249.086 2.69407 249 5.44444C248.913 8.19481 193.102 10.2255 124.341 9.97987Z"
                                    fill="url(#paint0_radial_15_580)" />
                                <defs>
                                    <radialGradient id="paint0_radial_15_580" cx="0" cy="0" r="1"
                                        gradientUnits="userSpaceOnUse"
                                        gradientTransform="translate(124.944 4.75848) rotate(91.8506) scale(4.9772 124.492)">
                                        <stop stop-color="white" />
                                        <stop offset="1" />
                                    </radialGradient>
                                </defs>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="col-span-1 lg:col-span-2">
                    <iframe class="w-full aspect-[4/2.5] rounded-lg border border-stone-800"
                        src="https://www.youtube.com/embed/8atDIwyZk6I?si=6P1_xuWAws0gHr8N"
                        title="VIDEO GIỚI THIỆU: OCOP PHÚ THỌ"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                    <p class="text-2xl lg:text-2xl font-semibold mt-3 text-center">
                        VIDEO GIỚI THIỆU: OCOP PHÚ THỌ
                    </p>

                    <div class="border border-stone-300 rounded-lg p-4 mt-8 mb-6 relative">
                        <div class="text-xl absolute top-[-16px] left-[-8px] bg-[#881f1c] px-2">
                            Mô tả:
                        </div>
                        <div class="text-base">
                            Kolin Academy là đơn vị cung cấp giải pháp, định hướng xây
                            dựng thương hiệu cá nhân cho các cá nhân, đội nhóm, doanh
                            nghiệp
                        </div>
                    </div>
                    <div class="text-center">
                        <a href="#"
                            class="bg-white hover:bg-gray-100 text-red-800 font-bold py-2 px-8 text-xl rounded inline-block">
                            Xem chi tiết
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- LÝ DO KHÁCH HÀNG CHỌN VÀ CÂU CHUYỆN THÀNH CÔNG -->
    <div class="bg-[url('/img/home-page/bg-reason.png')]">
        <div class="container-1200 py-16">
            <h2 class="text-3xl lg:text-[54px] font-semibold text-center mb-10">
                LÝ DO KHÁCH HÀNG CHỌN
                <span class="text-red-700">KOLIN ACADEMY</span>
            </h2>
            <div class="text-xl lg:text-4xl text-center">Mô tả</div>
            <!-- reason -->
            <div class="px-4 lg:px-0">
                <div class="grid lg:grid-cols-3 grid-cols-1 gap-8 mt-12 mb-8">
                    <div>
                        <iframe class="w-full aspect-[4/3] rounded-lg border border-stone-800"
                            src="https://www.youtube.com/embed/dVvBr3wmmXo?si=uP0pN9J2ULncPCaA"
                            title="YouTube video player"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                    <div>
                        <iframe class="w-full aspect-[4/3] rounded-lg border border-stone-800"
                            src="https://www.youtube.com/embed/fVVOWGX8EnE?si=N2L56nyq9vi8r0J1"
                            title="YouTube video player"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                    <div>
                        <iframe class="w-full aspect-[4/3] rounded-lg border border-stone-800"
                            src="https://www.youtube.com/embed/Ka_AWQeWSZQ?si=4w7_e6FClg8BHdck"
                            title="YouTube video player"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="grid lg:grid-cols-2 grid-cols-1 gap-8">
                    <div>
                        <iframe class="w-full aspect-[4/3] lg:aspect-[4/2] rounded-lg border border-stone-800"
                            src="https://www.youtube.com/embed/Ys94uzObYNs?si=efJDj2KugusWS1ua"
                            title="YouTube video player"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                    <div>
                        <iframe class="w-full aspect-[4/3] lg:aspect-[4/2] rounded-lg border border-stone-800"
                            src="https://www.youtube.com/embed/Ys94uzObYNs?si=efJDj2KugusWS1ua"
                            title="YouTube video player"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                </div>
            </div>

            <!-- Câu chuyện -->
            <div>
                <h2 class="text-3xl lg:text-[54px] font-semibold text-center mt-10 mb-4 lg:mt-28 lg:mb-10 text-red-700">
                    CÂU CHUYỆN THÀNH CÔNG
                </h2>
                <div class="slider-story">
                    <div class="item">
                        <iframe class="w-full aspect-[4/3] rounded-lg border border-stone-800"
                            src="https://www.youtube.com/embed/UjIn0xT9_p8?si=vMcafTqKJ9sUBZO7"
                            title="YouTube video player"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                    <div class="item">
                        <iframe class="w-full aspect-[4/3] rounded-lg border border-stone-800"
                            src="https://www.youtube.com/embed/t9rJ_xGU2hU?si=VyHfZ-X1IEOmaQr2"
                            title="YouTube video player"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                    <div class="item">
                        <iframe class="w-full aspect-[4/3] rounded-lg border border-stone-800"
                            src="https://www.youtube.com/embed/vG6O1X4z1Ns?si=W2S_EgBbddOVSWav"
                            title="YouTube video player"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                    <div class="item">
                        <iframe class="w-full aspect-[4/3] rounded-lg border border-stone-800"
                            src="https://www.youtube.com/embed/OGLpUBgFHXI?si=pB8mj2yPj8XpYsCS"
                            title="YouTube video player"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>

    <!-- CASE STUDY VÀ TRUYỀN THÔNG NÓI VỀ CHÚNG TÔI -->
    <div class="bg-[url('/img/home-page/bg-case-study.png')]">
        <div class="container-1200 py-16">
            <div>
                <h2 class="text-3xl lg:text-[54px] font-semibold text-center mb-10">
                    CASE STUDY HỌC VIÊN THÀNH CÔNG
                </h2>

                <div class="swiper swiperCaseStudy p-3 lg:p-6 py-6 lg:py-12">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="flex flex-1 rounded-xl border border-stone-300 p-3 gap-4 bg-white bg-opacity-30">
                                <div>
                                    <img src="./img/case-study/case-study-01.jpg" alt="case study 01"
                                        class="w-[300px] h-[310px] rounded-xl border border-stone-300 object-cover" />
                                </div>
                                <div class="text-lg">
                                    DJ Yuu Quỳnh Nhi - DJ of Asia - Asia Artist<br>
                                    Model - Influencer - Actress<br>
                                    Khóa học: Thần thái<br>
                                    Truyền thông<br>
                                    Facebook: 370.520 fl<br>
                                    Insta: 162k<br>
                                    Fanpage : 974K fl <br>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="flex flex-1 rounded-xl border border-stone-300 p-3 gap-4 bg-white bg-opacity-30">
                                <div>
                                    <img src="./img/case-study/case-study-02.jpg" alt="case study 01"
                                        class="w-[300px] h-[310px] rounded-xl border border-stone-300 object-cover" />
                                </div>
                                <div class="text-lg">
                                    DƯƠNG QUỲNH TRANG (Vanessa Duong) <br/>
                                    CEO và Founder của 𝟵 𝗖𝗔𝗥𝗔𝗧 𝗕𝗲𝗮𝘂𝘁𝘆 𝗦𝗽𝗮<br/>
                                    Khóa học: Personal Brand Pro<br/>
                                    FB: 240.209fl<br/>
                                    fanpage: 56k<br/>
                                    Youtube: 108N<br/>
                                    tiktok: 54,7K<br/>
                                    Insta: 17,7N<br/>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="flex flex-1 rounded-xl border border-stone-300 p-3 gap-4 bg-white bg-opacity-30">
                                <div>
                                    <img src="./img/case-study/case-study-03.jpg" alt="case study 01"
                                        class="w-[300px] h-[310px] rounded-xl border border-stone-300 object-cover" />
                                </div>
                                <div class="text-lg">
                                    HƯ QUỲNH NGUYỄN<br />
                                    CEO  tại L.II.N Clothing<br />
                                    FB: 42.999fl<br />
                                    Fanpage: 1K4 FL<br />
                                    tiktok : 320,3K fl<br />
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="flex flex-1 rounded-xl border border-stone-300 p-3 gap-4 bg-white bg-opacity-30">
                                <div>
                                    <img src="./img/case-study/case-study-04.jpg" alt="case study 01"
                                        class="w-[300px] h-[310px] rounded-xl border border-stone-300 object-cover" />
                                </div>
                                <div class="text-lg">
                                    HÀ PHƯƠNG TRINH<br />
                                    Giám đốc Cty CP Tokikin<br />
                                    Khóa học: Personal Brand Pro<br/>
                                    Truyền thông<br/>
                                    Fb: 14.890fl<br/>
                                    Instagram : 4,374 fl<br/>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="flex flex-1 rounded-xl border border-stone-300 p-3 gap-4 bg-white bg-opacity-30 ">
                                <div>
                                    <img src="./img/case-study/case-study-05.jpg" alt="case study 01"
                                        class="w-[300px] h-[310px] rounded-xl border border-stone-300 object-cover" />
                                </div>
                                <div class="text-lg">
                                    MAI PHẠM<br />
                                    Định vị hình tượng: KOC<br/>
                                    Khóa học: Change2shine, Tiktok idol<br/>
                                    Truyền thông: <br />
                                    Facebook: 7748 theo dõi<br />
                                    Tiktok: 704,2k theo dõi<br />
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="flex flex-1 rounded-xl border border-stone-300 p-3 gap-4 bg-white bg-opacity-30">
                                <div>
                                    <img src="./img/case-study/case-study-06.jpg" alt="case study 01"
                                        class="w-[300px] h-[310px] rounded-xl border border-stone-300 object-cover" />
                                </div>
                                <div class="text-lg">
                                    HOA PHẠM<br />
                                    Định vị hình tượng: KOC<br />
                                    Khóa học: Tiktok idol, Change2shine<br />
                                    Tiktok: 819,4k<br />
                                    Fb: 46k fl<br />
                                    Youtube : 14,7N <br />
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="flex flex-1 rounded-xl border border-stone-300 p-3 gap-4 bg-white bg-opacity-30 ">
                                <div>
                                    <img src="./img/case-study/case-study-07.jpg" alt="case study 01"
                                        class="w-[300px] h-[310px] rounded-xl border border-stone-300 object-cover" />
                                </div>
                                <div class="text-lg">
                                    TUẤN NGUYỄN<br />
                                    Khóa học: Personal Brand Pro<br />
                                    Fb: 155,926fl<br />
                                    Tiktok: 384,7k<br />
                                    Instagram: 25,9N fl<br />
                                    Fanpage: 124,481 fl<br />
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="flex flex-1 rounded-xl border border-stone-300 p-3 gap-4 bg-white bg-opacity-30">
                                <div>
                                    <img src="./img/case-study/case-study-08.jpg" alt="case study 01"
                                        class="w-[300px] h-[310px] rounded-xl border border-stone-300 object-cover" />
                                </div>
                                <div class="text-lg">
                                    DƯƠNG NGỌC ÁNH<br />
                                    Khóa học: Personal Brand Pro<br />
                                    Truyền thông: <br />
                                    Fb: 70k fl<br />
                                    Tiktok: 2768 fl<br />
                                    fanpage ViVi Academy : 5,5K fl<br />
                                    fanpage Ngọc Gemmy Makeup : 9,6K fl<br />
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="flex flex-1 rounded-xl border border-stone-300 p-3 gap-4 bg-white bg-opacity-30">
                                <div>
                                    <img src="./img/case-study/case-study-09.jpg" alt="case study 01"
                                         class="w-[300px] h-[310px] rounded-xl border border-stone-300 object-cover" />
                                </div>
                                <div class="text-lg">
                                    NGUYỄN THU TRÀ <br/>
                                    CEO tại <a href="https://www.facebook.com/emberbrown.co" class="underline">EMBER BROWN</a><br />
                                    Founder/Manager tại <a href="https://www.facebook.com/VyVyGiftshop/" class="underline">VyVy Giftshop</a><br />
                                    Khóa học: Personal Brand Pro <br />
                                    fb: 16k fl<br />
                                    Tiktok: 83,4k<br />
                                    Vyvy gift shop 67.498fl<br />
                                    Ember brown 5,4k
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="flex flex-1 rounded-xl border border-stone-300 p-3 gap-4 bg-white bg-opacity-30">
                                <div>
                                    <img src="./img/case-study/case-study-10.jpg" alt="case study 01"
                                         class="w-[300px] h-[310px] rounded-xl border border-stone-300 object-cover" />
                                </div>
                                <div class="text-lg">
                                    VŨ THỊ QUẾ MINH <br/>
                                    Creative/Art Director tại M•Styling <br/>
                                    Thành Viên Hội Đồng Cấp Cao tại MOI Cosmetics Viet Nam<br />
                                    Khóa học: Personal Brand Pro<br />
                                    Truyền thông<br />
                                    Fb: 17k fl<br />
                                    Fanpage: 2,5k<br />
                                    instagram : 2,928 fl<br />
                                    Youtube :1,2N<br />
                                    Moi cosmetics: 188.722 fl<br />
                                    M Styling : 1,3K fl<br />
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="flex flex-1 rounded-xl border border-stone-300 p-3 gap-4 bg-white bg-opacity-30">
                                <div>
                                    <img src="./img/case-study/case-study-11.png" alt="case study 01"
                                         class="w-[300px] h-[310px] rounded-xl border border-stone-300 object-cover" />
                                </div>
                                <div class="text-lg">
                                    NGUYỄN CÁT TIÊN MINH<br />
                                    <span class="text-sm">Founder tại LanBali Beauty Center</span><br />
                                    <span class="text-sm">Chief Executive Officer (CEO) & Founder tại 𝗟𝘂𝗰𝗶-𝗠𝘆̃ 𝗣𝗵𝗮̂̉𝗺 𝗧𝗵𝘂𝗮̂̀𝗻 𝗖𝗵𝗮𝘆</span><br />
                                     <span class="text-sm">Chief Executive Officer (CEO) & Founder tại 𝐋𝐔𝐂𝐈 𝐆𝐑𝐎𝐔𝐏</span><br />
                                    Khóa học: Personal Brand Pro<br />
                                    Truyền thông<br />
                                    Fb: 33k<br />
                                    Tiktok: 12,3k<br />
                                    Luci Group : 23.216 fl<br />
                                    Luci mỹ phẩm thuần chay : 35K fl<br />
                                    Lanbali beauty Center : 9,6K fl<br />
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="flex flex-1 rounded-xl border border-stone-300 p-3 gap-4 bg-white bg-opacity-30">
                                <div>
                                    <img src="./img/case-study/case-study-12.jpg" alt="case study 01"
                                         class="w-[300px] h-[310px] rounded-xl border border-stone-300 object-cover" />
                                </div>
                                <div class="text-lg">
                                    LÊ THỊ BÍCH NGỌC <br />
                                    GĐKD Laco Phân phối M.O.I cosmetics <br />
                                    Giám Đốc Kinh Doanh công ty CP Quốc tế Laco <br />
                                    Khóa học: thần thái, change2shine<br />
                                    Truyền thông <br />
                                    Fb: 20k fl <br />
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="flex flex-1 rounded-xl border border-stone-300 p-3 gap-4 bg-white bg-opacity-30">
                                <div>
                                    <img src="./img/case-study/case-study-13.jpg" alt="case study 01"
                                         class="w-[300px] h-[310px] rounded-xl border border-stone-300 object-cover" />
                                </div>
                                <div class="text-lg">
                                    TRANG ĐỖ<br />
                                    Khóa học: personal Brand Pro<br />
                                    Truyền thông<br />
                                    Fb: 21k fl<br />
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="flex flex-1 rounded-xl border border-stone-300 p-3 gap-4 bg-white bg-opacity-30">
                                <div>
                                    <img src="./img/case-study/case-study-16.jpg" alt="case study 01"
                                         class="w-[300px] h-[310px] rounded-xl border border-stone-300 object-cover" />
                                </div>
                                <div class="text-lg">
                                    SỬ NGỌC LY <br/>
                                    <span class="text-sm">FOUNDER RADIANT HOLLYWOOD SECRET VIETNAM - BAMIAN STORE - SNLY BEAUTY</span><br />
                                    <span class="text-sm">CO-FOUNDER tại YellowHolic Dessert & Coffee</span><br />
                                    <span class="text-sm">Founder tại Radiant Hollywood Secret Vietnam</span><br />
                                    CEO tại Dermaesthetics Beverly Hills Hà Nội<br />
                                    Khóa học: Influencer Coaching<br />
                                    Truyền thông<br />
                                    Fb: 143.045 fl<br />
                                    Fanpage: 2156fl<br />
                                    Tiktok: 82,7k<br />
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="flex flex-1 rounded-xl border border-stone-300 p-3 gap-4 bg-white bg-opacity-30">
                                <div>
                                    <img src="./img/case-study/case-study-17.jpg" alt="case study 01"
                                         class="w-[300px] h-[310px] rounded-xl border border-stone-300 object-cover" />
                                </div>
                                <div class="text-lg">
                                    THANH MƠ<br />
                                    Khóa học: Personal Brand Pro<br />
                                    Truyền thông<br />
                                    Fb: 28k fl<br />
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="flex flex-1 rounded-xl border border-stone-300 p-3 gap-4 bg-white bg-opacity-30">
                                <div>
                                    <img src="./img/case-study/case-study-18.jpg" alt="case study 01"
                                         class="w-[300px] h-[310px] rounded-xl border border-stone-300 object-cover" />
                                </div>
                                <div class="text-lg">
                                    MY THẢO HỒ<br />
                                    Founder tại Mina Luxury Fur<br />
                                    Khóa học: Personal Brand Pro<br />
                                    Truyền thông<br />
                                    Fb: 22.667k fl<br />
                                    Fanpage: 120k fl<br />
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="flex flex-1 rounded-xl border border-stone-300 p-3 gap-4 bg-white bg-opacity-30">
                                <div>
                                    <img src="./img/case-study/case-study-19.jpg" alt="case study 01"
                                         class="w-[300px] h-[310px] rounded-xl border border-stone-300 object-cover" />
                                </div>
                                <div class="text-lg">
                                    NGUYỄN ĐỨC NAM<br />
                                    Khóa học: Personal brand pro<br />
                                    truyền thông<br />
                                    fb: 14k fl<br />
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="flex flex-1 rounded-xl border border-stone-300 p-3 gap-4 bg-white bg-opacity-30">
                                <div>
                                    <img src="./img/case-study/case-study-21.jpg" alt="case study 01"
                                         class="w-[300px] h-[310px] rounded-xl border border-stone-300 object-cover" />
                                </div>
                                <div class="text-lg">
                                    LÝ MINH THU<br />
                                    Khóa học: personal bro brand<br />
                                    truyền thông<br />
                                    fb: 4,4k fl<br />
                                    tiktok: 43,7k<br />
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="flex flex-1 rounded-xl border border-stone-300 p-3 gap-4 bg-white bg-opacity-30">
                                <div>
                                    <img src="./img/case-study/case-study-22.jpg" alt="case study 01"
                                         class="w-[300px] h-[310px] rounded-xl border border-stone-300 object-cover" />
                                </div>
                                <div class="text-lg">
                                    HÀ LUX <br/>
                                    <span class="text-sm">Đại Sứ Hình ảnh, Hoa Hậu Du Lịch Bản Sắc Việt Nam</span> <br />
                                    Khóa học: personal brand pro<br/>
                                    Truyền thông<br />
                                    fb: 3k fl<br />
                                    fan page: 13k fl<br/>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="flex flex-1 rounded-xl border border-stone-300 p-3 gap-4 bg-white bg-opacity-30">
                                <div>
                                    <img src="./img/case-study/case-study-23.jpg" alt="case study 01"
                                         class="w-[300px] h-[310px] rounded-xl border border-stone-300 object-cover" />
                                </div>
                                <div class="text-lg">
                                    HOÀNG BÍCH NGỌC <br />
                                    <span class="text-sm">Owner and Founder tại Tupperware Ngọc Tường</span> <br />
                                    Khóa học: personal brand pro<br />
                                    truyền thông<br />
                                    fb: 24k<br />
                                    fan page: 75k<br />
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="flex flex-1 rounded-xl border border-stone-300 p-3 gap-4 bg-white bg-opacity-30">
                                <div>
                                    <img src="./img/case-study/case-study-24.jpg" alt="case study 01"
                                         class="w-[300px] h-[310px] rounded-xl border border-stone-300 object-cover" />
                                </div>
                                <div class="text-lg">
                                    NGÔ HUYỀN TRANG <br />
                                    Khóa học: personal brand pro<br />
                                    truyền thông<br />
                                    fb: 218k<br />
                                    tiktok: 185,7k<br />
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="flex flex-1 rounded-xl border border-stone-300 p-3 gap-4 bg-white bg-opacity-30">
                                <div>
                                    <img src="./img/case-study/case-study-25.jpg" alt="case study 01"
                                         class="w-[300px] h-[310px] rounded-xl border border-stone-300 object-cover" />
                                </div>
                                <div class="text-lg">
                                    PHƯƠNG KIRSCHE<br />
                                    Khóa học: personal brand pro<br />
                                    truyền thông<br />
                                    fb: 9k3 fl<br />
                                    tiktok: 1987fl<br />
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="flex flex-1 rounded-xl border border-stone-300 p-3 gap-4 bg-white bg-opacity-30">
                                <div>
                                    <img src="./img/case-study/case-study-26.jpg" alt="case study 01"
                                         class="w-[300px] h-[310px] rounded-xl border border-stone-300 object-cover" />
                                </div>
                                <div class="text-lg">
                                    TRANG BURN <br/>
                                    <span class="text-sm">Boss tại TRANG BURN clothing</span><br />
                                    khóa học: personal brand pro<br />
                                    truyền thông<br />
                                    fan page: 81k fl<br />
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="flex flex-1 rounded-xl border border-stone-300 p-3 gap-4 bg-white bg-opacity-30">
                                <div>
                                    <img src="./img/case-study/case-study-27.jpg" alt="case study 01"
                                         class="w-[300px] h-[310px] rounded-xl border border-stone-300 object-cover" />
                                </div>
                                <div class="text-lg">
                                    TRẦN NGỌC ÁNH <br/>
                                    <span class="text-sm"> Boss tại Quân Ánh minimarket</span><br />
                                    Khóa học: personal brand pro, chang2shine<br />
                                    truyền thông<br />
                                    fb: 195.085 fl<br/>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="flex flex-1 rounded-xl border border-stone-300 p-3 gap-4 bg-white bg-opacity-30">
                                <div>
                                    <img src="./img/case-study/case-study-28.jpg" alt="case study 01"
                                         class="w-[300px] h-[310px] rounded-xl border border-stone-300 object-cover" />
                                </div>
                                <div class="text-lg">
                                    ĐÀO THÙY DƯƠNG<br />
                                    <span class="text-sm">Boss tại KIERA Cosmetic - Diamond CEO Đào Thuỳ Dương</span><br />
                                    Khóa học: Personal brand pro<br />
                                    truyền thông<br />
                                    fb: 116k fl<br />
                                    tiktok: 422,9k fl<br />
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="flex flex-1 rounded-xl border border-stone-300 p-3 gap-4 bg-white bg-opacity-30">
                                <div>
                                    <img src="./img/case-study/case-study-29.jpg" alt="case study 01"
                                         class="w-[300px] h-[310px] rounded-xl border border-stone-300 object-cover" />
                                </div>
                                <div class="text-lg">
                                    ĐÀO THANH NHUNG<br />
                                    Khóa học: personal brand pro<br />
                                    truyền thông<br />
                                    fb: 7,6k fl<br />
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="flex flex-1 rounded-xl border border-stone-300 p-3 gap-4 bg-white bg-opacity-30">
                                <div>
                                    <img src="./img/case-study/case-study-30.jpg" alt="case study 01"
                                         class="w-[300px] h-[310px] rounded-xl border border-stone-300 object-cover" />
                                </div>
                                <div class="text-lg">
                                    KIỀU LY PHẠM<br />
                                    <span class="text-sm">Founder tại Choose me</span><br />
                                    <span class="text-sm">Founder tại JOYUS</span><br />
                                    <span class="text-sm">Founder tại Lya Beauty & Academy</span><br />
                                    Khóa học: Personal Brand Pro<br />
                                    Truyền thông:<br />
                                    Insta: 274k<br />
                                    FB: 271k fl<br />
                                    Fanpage: 168k likes<br />
                                    Tiktok: 186k<br />
                                    Youtube: 8,08 sub<br />
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="flex flex-1 rounded-xl border border-stone-300 p-3 gap-4 bg-white bg-opacity-30">
                                <div>
                                    <img src="./img/case-study/case-study-31.jpg" alt="case study 01"
                                         class="w-[300px] h-[310px] rounded-xl border border-stone-300 object-cover" />
                                </div>
                                <div class="text-lg">
                                    BẢO NGỌC <br />
                                    <span class="text-sm">CEO tại Bảo Ngọc Aerobic</span><br />
                                    Khóa học: Personal Brand Pro<br />
                                    Truyền thông<br />
                                    FB: 262k fl<br />
                                    Fanpage: 537k likes<br />
                                    Youtube: 128K sub<br />
                                    Tiktok: 402,3k fl<br />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>

            <div class="mt-20">
                <h2 class="text-3xl lg:text-[54px] font-semibold text-center mb-10">
                    TRUYỀN THÔNG NÓI GÌ VỀ CHÚNG TÔI
                </h2>

                <div class="swiper swiperAboutUs pb-12 lg:px-0 px-4">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="max-w-lg bg-white border border-gray-200 rounded-xl p-3">
                                <a href="#">
                                    <img class="rounded-xl h-[165px] w-full object-contain"
                                        src="https://cafefcdn.com/thumb_w/640/pr/2022/photo1669277505077-16692775051451945082346-63804907420097.png" alt="" />
                                </a>
                                <div class="flex justify-between mt-5 gap-4">
                                    <div>
                                        <h5 class="mb-2 text-xl font-bold text-gray-900 line-clamp-2">
                                            Chuyên gia xây dựng thương hiệu cá nhân Vũ Diệu Thúy - Trao đi để nhận lại
                                        </h5>
                                        <a href="https://cafef.vn/chuyen-gia-xay-dung-thuong-hieu-ca-nhan-vu-dieu-thuy-trao-di-de-nhan-lai-20221124172339972.chn" class="text-base text-blue-900 underline" target="_blank">
                                            Xem chi tiết
                                        </a>
                                    </div>
                                    <div class="flex flex-col justify-between">
                                        <p class="mb-3 text-base text-blue-900">Nguồn</p>
                                        <img class="w-28 h-10 object-contain rounded-lg shadow-lg"
                                            src="https://cafefcdn.com/web_images/cafef_logo2022.svg" alt="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="max-w-lg bg-white border border-gray-200 rounded-xl p-3">
                                <a target="_blank" href="https://kenh14.vn/cung-dinh-hinh-phong-cach-voi-nha-dao-tao-thuong-hieu-ca-nhan-vu-dieu-thuy-20220418123503733.chn">
                                    <img class="rounded-xl h-[165px] w-[350px] object-contain"
                                        src="https://channel.mediacdn.vn/thumb_w/640/428462621602512896/2022/4/18/photo-1-16502572358821828980259.jpg" alt="" />
                                </a>
                                <div class="flex justify-between mt-5 gap-4">
                                    <div>
                                        <h5 class="mb-2 text-xl font-bold text-gray-900 line-clamp-2">
                                            Cùng định hình phong cách với nhà đào tạo thương hiệu cá nhân Vũ Diệu Thúy
                                        </h5>
                                        <a href="https://kenh14.vn/cung-dinh-hinh-phong-cach-voi-nha-dao-tao-thuong-hieu-ca-nhan-vu-dieu-thuy-20220418123503733.chn" target="_blank" class="text-base text-blue-900 underline">
                                            Xem chi tiết
                                        </a>
                                    </div>
                                    <div class="flex flex-col justify-between">
                                        <p class="mb-3 text-base text-blue-900">Nguồn</p>
                                        <img class="w-28 h-10 object-contain rounded-lg shadow-lg"
                                            src="https://kenh14cdn.com/web_images/k14_logo2022.svg" alt="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="max-w-lg bg-white border border-gray-200 rounded-xl p-3">
                                <a href="https://vov.vn/van-hoa/ra-mat-cam-nang-giup-nguoi-tre-xay-dung-thuong-hieu-ca-nhan-833400.vov" target="_blank">
                                    <img class="rounded-xl h-[165px] w-[350px] object-contain"
                                        src="https://vov-media.emitech.vn/sites/default/files/styles/og_image/public/2021-01/IMG_3621.jpg?v=1729503307" alt="" />
                                </a>
                                <div class="flex justify-between mt-5 gap-4">
                                    <div>
                                        <h5 class="mb-2 text-xl font-bold text-gray-900 line-clamp-2">
                                            Ra mắt cẩm nang giúp người trẻ xây dựng thương hiệu cá nhân
                                        </h5>
                                        <a href="https://vov.vn/van-hoa/ra-mat-cam-nang-giup-nguoi-tre-xay-dung-thuong-hieu-ca-nhan-833400.vov" target="_blank" class="text-base text-blue-900 underline">
                                            Xem chi tiết
                                        </a>
                                    </div>
                                    <div class="flex flex-col justify-between">
                                        <p class="mb-3 text-base text-blue-900">Nguồn</p>
                                        <img class="w-28 h-10 object-contain rounded-lg shadow-lg"
                                            src="https://vov.vn/themes/custom/vovvn/logo.svg" alt="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="max-w-lg bg-white border border-gray-200 rounded-xl p-3">
                                <a target="_blank" href="https://ngoisao.vnexpress.net/street-style-ton-dang-cua-hot-mom-vu-dieu-thuy-4483697.html">
                                    <img class="rounded-xl h-[165px] w-[350px] object-contain"
                                        src="https://i1-ngoisao.vnecdn.net/2022/07/04/vu-dieu-thuy-5-1656950201-7770-1656950392.jpg?w=1200&h=0&q=100&dpr=1&fit=crop&s=toK9QP7OH4nsqtCo1GcJMQ" alt="Street style tôn dáng của hot mom Vũ Diệu Thúy" />
                                </a>
                                <div class="flex justify-between mt-5 gap-4">
                                    <div>
                                        <h5 class="mb-2 text-xl font-bold text-gray-900 line-clamp-2">
                                            Street style tôn dáng của hot mom Vũ Diệu Thúy
                                        </h5>
                                        <a href="https://ngoisao.vnexpress.net/street-style-ton-dang-cua-hot-mom-vu-dieu-thuy-4483697.html" class="text-base text-blue-900 underline" target="_blank">
                                            Xem chi tiết
                                        </a>
                                    </div>
                                    <div class="flex flex-col justify-between">
                                        <p class="mb-3 text-base text-blue-900">Nguồn</p>
                                        <img class="w-28 h-10 object-contain rounded-lg shadow-lg"
                                            src="https://flowbite.com/docs/images/blog/image-1.jpg" alt="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- FORM ĐĂNG KÝ KHÓA HỌC -->
    <div>
        <div class="container-1200 py-16">
            <h2 class="text-3xl lg:text-[54px] font-semibold text-center mb-10 text-red-600">
                ĐĂNG KÝ NHẬN TƯ VẤN KHÓA HỌC
            </h2>
            <div class="px-4 lg:px-0">
                <EditForm Model="contactModel" OnValidSubmit="SaveContactInfo" class="w-full bg-white p-6 lg:p-12 rounded-lg">
                    <div class="flex flex-wrap -mx-3">
                        <div class="w-full md:w-1/2 px-3">
                            <div class="relative mb-6">
                                <div class="absolute inset-y-0 start-0 flex items-center ps-2 pointer-events-none">
                                    <img src="./img/home-page/userIcon.svg" alt="user icon" />
                                </div>
                                <InputText @bind-Value="contactModel.FullName" type="text" id="input-name"
                                    class="bg-gray-50 border border-gray-400 text-gray-700 text-lg rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-12 p-2.5"
                                    placeholder="Họ và tên" />
                            </div>
                        </div>
                        <div class="w-full md:w-1/2 px-3">
                            <div class="relative mb-6">
                                <div class="absolute inset-y-0 start-0 flex items-center ps-2 pointer-events-none">
                                    <img src="./img/home-page/phoneIcon.svg" alt="phone icon" />
                                </div>
                                <InputText @bind-Value="contactModel.PhoneNumber" type="tel" id="input-phone"
                                    class="bg-gray-50 border border-gray-400 text-gray-700 text-lg rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-12 p-2.5"
                                    placeholder="Số điện thoại" />
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-wrap -mx-3">
                        <div class="w-full md:w-1/2 px-3">
                            <div class="relative mb-6">
                                <div class="absolute inset-y-0 start-0 flex items-center ps-2 pointer-events-none">
                                    <img src="./img/home-page/emailIcon.svg" />
                                </div>
                                <InputText @bind-Value="contactModel.Email"  type="email" id="input-email"
                                    class="bg-gray-50 border border-gray-400 text-gray-700 text-lg rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-12 p-2.5"
                                    placeholder="Email" />
                            </div>
                        </div>
                        <div class="w-full md:w-1/2 px-3">
                            <div class="relative mb-6">
                                <div class="absolute inset-y-0 start-0 flex items-center ps-2 pointer-events-none">
                                    <img src="./img/home-page/locationIcon.svg" />
                                </div>
                                <InputText @bind-Value="contactModel.Address" type="text" id="input-location"
                                    class="bg-gray-50 border border-gray-400 text-gray-700 text-lg rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-12 p-2.5"
                                    placeholder="Tỉnh thành" />
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-wrap">
                        <InputTextArea @bind-Value="contactModel.Note" id="message" rows="4"
                            class="block p-2.5 w-full text-lg text-gray-900 bg-gray-50 rounded-lg border border-gray-400 focus:ring-blue-500 focus:border-blue-500"
                            placeholder="Ghi Chú"></InputTextArea>
                    </div>
                    <div class="text-center">
                        <button type="submit"
                            class="text-white text-2xl bg-red-700 hover:bg-blue-800 rounded-lg px-5 py-2.5 me-2 mt-6">
                            ĐĂNG KÝ NGAY
                        </button>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
</div>