@page "/tin-tuc"
@inherits OwningComponentBase

<HeadContent>
    <title>Tin tức - Kolin</title>
</HeadContent>

 <div class="news container-1200">
      <div class="flex gap-3 items-center py-8 text-2xl">
        <a href="/">
            <img src="./img/icon/addressIcon.svg" />
        </a>
        <a href="/">Trang chủ</a>/ Tin sự kiện
      </div>

      <div
        class="grid lg:grid-cols-3 lg:grid-rows-[repeat(auto, minmax(0, 288px))] gap-6 mb-8"
      >
        @for (int i = 0; i < model.Blogs.Count; i++)
        {
            @if(i == 0){
                <div class="bg-white col-span-2 row-span-2 rounded-xl">
                    <img
                        src="@model.Blogs[i].ThumbNailImageLink"
                        class="w-full h-[384px] object-cover rounded-xl"
                    />
                    <div class="p-4">
                        <a href="@model.Blogs[i].DetailBlogLink" class="uppercase text-xl text-red-800 font-semibold mb-5 line-clamp-1">
                        @model.Blogs[i].Title
                        </a>
                        <div class="text-black mb-3">
                        @model.Blogs[i].ShortDescription
                        </div>
                    </div>
                </div>
            }else{
                 <div class="bg-white rounded-xl">
                    <img
                        src="@model.Blogs[i].ThumbNailImageLink"
                        class="w-full h-[192px] object-cover rounded-xl"
                    />
                    <div class="p-2">
                        <a href="@model.Blogs[i].DetailBlogLink"
                        class="uppercase text-base text-red-800 font-semibold line-clamp-2"
                        >
                        @model.Blogs[i].Title
                        </a>
                    </div>
                </div>
            }
            
        }
      </div>

      <nav aria-label="Page navigation">
        <ul
          class="flex items-center justify-center gap-4 -space-x-px h-8 text-base my-16"
        >
          <li @onclick="()=>OnPageChange(-1)">
            <a
              class="flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 hover:text-gray-700"
            >
              <span class="sr-only">Previous</span>
              <svg
                class="w-2.5 h-2.5 rtl:rotate-180"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 6 10"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M5 1 1 5l4 4"
                />
              </svg>
            </a>
          </li>
          @for (int i = 1; i <= model.TotalPage; i++)
            {
                var index = i;
                <li @onclick="() => OnPageChange(index)">
                    <a
                    class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 hover:text-gray-700"
                    >@i</a>
                </li>
                
            }
          <li @onclick="()=>OnPageChange(-1)">
            <a
              class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 hover:text-gray-700"
            >
              <span class="sr-only">Next</span>
              <svg
                class="w-2.5 h-2.5 rtl:rotate-180"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 6 10"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="m1 9 4-4-4-4"
                />
              </svg>
            </a>
          </li>
        </ul>
      </nav>
    </div>


@* <div class="news-page">
    <section class="news-container">
        <div class="max-width mx-auto">
            <div class="primary-color title">
                <p class="">TIN TỨC</p>
            </div>
            <div class="row new-banner">
                @if (model.Blogs.Count >= 1)
                {
                    <div class="col-xl-8 col-md-7 col-12">
                        <img src="@model.Blogs[0].ThumbNailImageLink" alt="" />
                    </div>
                    <div class="col-xl-4 col-md-5 col-12">
                        <div class="new-content">
                            <a class="heading" href="@model.Blogs[0].DetailBlogLink">@model.Blogs[0].Title</a>
                            <p class="content">
                                @model.Blogs[0].ShortDescription
                            </p>
                        </div>
                    </div>
                }
            </div>

            <div class="list-new row gy-5">
                @if (model.Blogs.Count >= 2)
                {
                    @for (int i = 1; i < model.Blogs.Count; i++)
                    {
                        <div class="col-xl-4 col-md-6 col-12 new-item">
                            <a class="heading" href="@model.Blogs[i].DetailBlogLink">@model.Blogs[i].Title</a>
                            <div class="content">
                                @model.Blogs[i].ShortDescription
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </section>
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-end">
            <li class="page-item" @onclick="()=>OnPageChange(-1)">
                <a class="page-link" href="#" style="pointer-events: none;cursor:default" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            @for (int i = 1; i <= model.TotalPage; i++)
            {
                var index = i;
                <li class="page-item" @onclick="() => OnPageChange(index)"><a class="page-link" style="pointer-events: none;cursor:default" href="#">@i</a></li>
            }
            <li class="page-item" @onclick="()=>OnPageChange(0)">
                <a class="page-link" href="#" style="pointer-events: none;cursor:default" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div> *@



