@page "/khoa-hoc-truc-tuyen"
@inherits OwningComponentBase

<div class="store-page relative">
    <div class="decor">
        <img src="./img/Frame.svg" alt="" class="absolute decor2" />
        <img src="./img/offline_decor.png" alt="" class="absolute decor1" />
    </div>
    <div class="list-products mx-auto">
        <div class="title secondary-color text-uppercase">khóa học online</div>
        <div class="row">
            @foreach (var course in onlineCourseViewModels)
            {
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="store-course">
                        <div class="thumb">
                            <a href="@course.DetailLink">
                                <img src="@course.ThumbNailImageLink" alt="@course.Name" class="block" />
                            </a>
                        </div>
                        <div class="info d-flex justify-content-between align-items-center">
                            <div>
                                <a href="@course.DetailLink" class="name primary-color">@course.Name</a>
                                <div class="price">@course.DiscountPrice</div>
                            </div>

                            <button class="d-flex" @onclick="()=>AddToCart(course.Id)">
                                <p>+</p>
                                <p style="margin: 0 5px">|</p>
                                <p>
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                     viewBox="0 0 576 512"
                                     width="16px"
                                     height="16px">
                                        <path d="M24 0H0V48H24 76.1l60.3 316.5 3.7 19.5H160 488h24V336H488 179.9l-9.1-48H496L576 32H122l-2.4-12.5L115.9 0H96 24zM176 512c26.5 0 48-21.5 48-48s-21.5-48-48-48s-48 21.5-48 48s21.5 48 48 48zm336-48c0-26.5-21.5-48-48-48s-48 21.5-48 48s21.5 48 48 48s48-21.5 48-48z"
                                          fill="#fff" />
                                    </svg>
                                </p>
                            </button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
